<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/10duck.ico">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Common.css" />
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/create.js"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="create-board-form-container">
    <h2>게시글 작성</h2>
    <form th:action="@{/board/create}" th:object="${board}" method="post" enctype="multipart/form-data" onsubmit="return formValidate()">
        <div class="create-form-group">
            <div class="create-file-label-title">사진 첨부</div>
            <div class="create-image-preview-container">
                <img id="create-imagePreview" class="create-board-img" style="display:none;">
                <button type="button" class="create-delete-image-button" style="display:none;" onclick="createRemoveImage()">삭제</button>
                <div id="create-fileName" class="create-file-name" style="display:none;"></div>
            </div>
            <input type="file" id="create-file" name="file" accept="image/*" class="create-board-write-file-input">
        </div>
        <div class="create-file-button-container">
            <button type="button" class="create-file-button" onclick="document.getElementById('create-file').click()">사진 추가</button>
        </div>
        <div class="create-form-group">
            <label for="create-title">제목</label>
            <input type="text" id="create-title" name="title" th:field="*{title}" placeholder="제목을 입력하세요">
        </div>
        <div class="create-form-group">
            <label for="create-content">내용</label>
            <textarea name="content" id="create-content" th:field="*{content}" placeholder="내용을 입력하세요"></textarea>
        </div>
        <div class="create-button-bottom">
        <button type="submit" class="create-board-create-button">작성</button>
        <button type="reset" class="create-board-create-button-reset" onclick="window.history.back()">취소</button>
        </div>
    </form>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>
