<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>

    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="board-form-container">
    <h2>게시글 수정</h2>
    <form th:action="@{/board/{boardId}/edit(boardId =${board.id})}" th:object="${board}" method="post"  enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title"th:field="*{title}" th:value="${board.title}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" th:field="*{content}" th:value="${board.content}"></textarea>
        </div>
                <div class="form-group">
                    <label for="file">사진 첨부</label>
                    <img class="board-img" id="imagePreview" alt="Board Image" th:src="@{'/image/board/' + ${board.imageName}}" style="max-width: 100%; height: auto;"/>
                    <input type="file" id="file" name="file" accept="image/*" class="board-write-file-input">
                </div>
        <button type="submit" class="board-edit-button">수정</button>
    </form>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>