<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>

    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript">
        function editRemoveImage() {
           document.getElementById('edit-file').value = "";
           document.getElementById('edit-imagePreview').style.display = 'none';
           document.querySelector('.edit-delete-image-button').style.display = 'none';
           document.getElementById('edit-fileName').style.display = 'none';
       }

       $(document).ready(function() {
           $('#edit-file').change(function() {
               var input = this;
               if (input.files && input.files[0]) {
                   var reader = new FileReader();
                   reader.onload = function(e) {
                       $('#edit-imagePreview').attr('src', e.target.result);
                       $('#edit-imagePreview').show();
                       $('.edit-delete-image-button').show();
                       $('#edit-fileName').text(input.files[0].name).show();
                   }
                   reader.readAsDataURL(input.files[0]);
               }
           });
       });

       function goBack() {
           window.history.back();
       }

       function checkFileInput() {
           const fileInput = document.getElementById('edit-file');
           if (fileInput.value === "") {
               fileInput.disabled = true;
           }
       }
    </script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="edit-board-form-container">
    <h2>게시글 수정</h2>
    <form th:action="@{/board/{boardId}/edit(boardId=${board.id})}" th:object="${board}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="redirectUrl" th:value="${param.redirectUrl}"/>
        <div class="edit-form-group">
            <div class="edit-file-label-title">사진 첨부</div>
            <div class="edit-image-preview-container">
                <img id="edit-imagePreview" class="edit-board-img" style="display:none;">
                <button type="button" class="edit-delete-image-button" style="display:none;" onclick="editRemoveImage()">삭제</button>
                <div id="edit-fileName" class="edit-file-name" style="display:none;"></div>
            </div>
            <input type="file" id="edit-file" name="file" accept="image/*" class="edit-board-write-file-input">
        </div>
        <div class="edit-file-button-container">
            <button type="button" class="edit-file-button" onclick="document.getElementById('edit-file').click()">사진 추가</button>
        </div>
        <div class="edit-form-group">
            <label for="edit-title">제목</label>
            <input type="text" id="edit-title" name="title" th:field="*{title}" placeholder="제목을 입력하세요">
        </div>
        <div class="edit-form-group">
            <label for="edit-content">내용</label>
            <textarea name="content" id="edit-content" th:field="*{content}" placeholder="내용을 입력하세요"></textarea>
        </div>
        <div class="edit-button-group">
            <button type="submit" class="edit-board-edit-button" >수정</button>
            <button type="button" class="edit-board-edit-reset" onclick="goBack()">취소</button>
        </div>
    </form>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
