<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/10duck.ico">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<main id="board-container" class="freeBoard_background_img">
    <div class="free-board">
        <section class="subCommon-freeBoard">
            <h2 class="sub_title"><i class="fa fa-comment-dots" style="margin-right:30px"></i>자유 게시판</h2>
            <div class="sort-option-box">
                <ul class="sort-options">
                    <li th:class="${sort == 'writeDate'} ? 'sort-option selected' : 'sort-option'">
                        <a th:href="@{/board}">최신순</a>
                    </li>
                    <li th:class="${sort == 'viewCount'} ? 'sort-option selected' : 'sort-option'">
                        <a th:href="@{/board/viewCount}">조회수순</a>
                    </li>
                </ul>
            </div>
        </section>
        <div class="main_section">
            <section class="free-board-board-list">
                <div class="board-list-top">
                    <span class="board-list-top_num">번호</span>
                    <span class="board-list-top_title">제목</span>
                    <span class="board-list-top_writer">작성자</span>
                    <span class="board-list-top_date">작성일</span>
                    <span class="board-list-top_view-cnt">조회수</span>
                </div>
                <div class="board-list-separator"></div>
                <div class="board-list-bot">
                    <ul class="board-list-bot-items">
                        <li th:each="board, iterStat : ${boardList}">
                            <span class="board-list-num" th:text="${currentPage * pageSize + iterStat.index + 1}"></span>
                            <span class="board-list-title"><a th:href="@{/board/{boardId}(boardId=${board.id})}" th:text="${board.title != null && !board.title.isEmpty() ? board.title : '제목없음'}" th:onclick="'incrementViewCountAndRedirect(' + ${board.id} + '); return false;'">제목없음</a></span>
                            <span class="board-list-writer" th:text="${board.user.nickname}"></span>
                            <span class="board-list-date" th:text="${#temporals.format(board.writeDate, 'yyyy-MM-dd')}"></span>
                            <span class="board-list-view-cnt" th:text="${board.viewCount}"></span>
                        </li>
                    </ul>
                </div>
                <div class="free-board-pagination">
                    <a class="free-board-pagination-move-button" th:classappend="${boardList.first} ? 'free-board-disabled' : ''" th:href="@{/board(page=0)}">&lt;&lt;</a>
                    <a class="free-board-pagination-move-button" th:classappend="${boardList.first} ? 'free-board-disabled' : ''" th:href="@{/board(page=${boardList.number - 1})}">&lt;</a>
                    <span th:if="${boardList.totalPages > 0}" th:each="i : ${#numbers.sequence(1, boardList.totalPages)}">
                    <a th:classappend="${i == boardList.number + 1} ? 'free-board-pagination-now-button' : 'free-board-pagination-move-button'" th:href="@{/board(page=${i - 1})}" th:text="${i}">1</a>
                </span>
                    <span th:if="${boardList.totalPages == 0}">
                     <a class="free-board-pagination-now-button" href="#">1</a>
                </span>
                    <a class="free-board-pagination-move-button" th:classappend="${boardList.last} ? 'free-board-disabled' : ''" th:href="@{/board(page=${boardList.number + 1})}">&gt;</a>
                    <a class="free-board-pagination-move-button" th:classappend="${boardList.last} ? 'free-board-disabled' : ''" th:href="@{/board(page=${boardList.totalPages - 1})}">&gt;&gt;</a>
                </div>
            </section>
        </div>
        <div class="free-board-write-button" th:if="${isAuthenticated}">
            <a href="/board/new">
                <div class="free-board-Icon">
                    <i class="fa fa-edit"></i>
                </div>
                <div class="free-board-text">글쓰기</div>
            </a>
        </div>
        <section class="pagination"> <!--승빈이 형꺼 pagination으로 교체 필요-->
        </section>
    </div>
</main>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>

