<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/10duck.ico">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Common.css" />
    <link rel="stylesheet" href="/css/custom.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/board/showPage.js"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="board-container-title-wrapper">
    <a href="/board" class="board-container-title">자유 게시판</a>
</div>

<hr class="comment-section-orange-line">
<div class="board-title-line" style="position: relative;">
    <div class="board-title-group">
        <span class="board-title">제목:</span>
        <span class="board-title" th:text="${board.title != null && !board.title.isEmpty() ? board.title : '제목없음'}"></span>
    </div>
    <span class="board-menu-toggle" id="board-menu-toggle" th:if="${isAuthenticated && (board.user.id == loginUserId)}"><i class="fa-solid fa-ellipsis-vertical"></i></span>
    <div id="board-menu" class="board-menu-content">
        <a th:href="@{/board/{boardId}/edit(boardId=${board.id})}" class="menu-item">수정</a>
        <form th:action="@{/board/{boardId}/delete(boardId=${board.id})}" method="post" style="display: inline;">
            <button type="submit" class="menu-item">삭제</button>
        </form>
    </div>
</div>

<div class="board-title-second" style="position: relative;">
    <div class="board-author-group">
        <div class="board-meta">
            <div class="board-meta-left">
                <span class="board-author"><i class="fa-solid fa-user"></i></span>
                <span class="board-author" th:text="${board.user.nickname}"></span>
                <span class="board-date"><i class="fa-solid fa-calendar-days"></i></span>
                <span class="board-date" th:text="${#temporals.format(board.writeDate, 'yyyy-MM-dd HH:mm')}"></span>
                <i class="fa-solid fa-eye"></i>
                <span class="board-cnt" th:text="${board.viewCount}"></span>
            </div>
            <a href="#" class="board-menu-item-report" th:if="${isAuthenticated}">신고<i class="fas fa-exclamation-circle"></i> </a>
        </div>
    </div>
</div>
<div class="show-line"></div>
<div class="board-container">
    <div class="board-content-wrapper">
        <div class="board-content">
            <p th:text="${board.content}">내용</p>
        </div>
        <div class="board-image-wrapper" th:if="${board.imageName != null}">
            <img class="board-img" id="boardImagePreview"
                 th:src="@{'/image/board/' + ${board.imageName}}"/>
        </div>
    </div>
</div>
<div class="show-line"></div>

<div class="board-bottom-line">
    <button onclick="window.history.back()" class="btn-secondary"><i class="fa-solid fa-bars"></i>목록</button>
    <button class="btn-bookmark" id="board-bookmark-button" th:data-board-id="${board.id}" th:if="${isAuthenticated}"><i class="fa-regular fa-bookmark"></i>북마크</button>
</div>
<section class="comment-section">
    <hr class="comment-section-orange-line">
    <div class="comment-count-box">
        <img class="comment-count-icon" src="/images/comment_count.svg"/>
        <span class="comment-count" th:text="${comments.size()}">0</span>
    </div>

    <div class="comment-container">
        <form action="#" th:action="@{/board/{boardId}/comment(boardId=${board.id})}" method="post" class="comment-box" th:if="${isAuthenticated}">
            <div class="author-bottom-group">
                <span class="board-author-bottom"><i class="fa-solid fa-user"></i></span>
                <span class="board-author-bottom" th:text="${nickname}"></span>
            </div>
            <div class="comment-input-wrapper">
                <textarea class="comment-input" id="comment-input" name="contentWrite" placeholder="문제의 소지가 있을 댓글은 경고 조치 없이 삭제되며 징계 대상이 될 수 있습니다." maxlength="500"></textarea>
                <span id="char-counter" class="char-counter">0 / 500</span>
            </div>
            <div class="comment-input-footer">
                <button class="comment-submit" type="submit">등록</button>
            </div>

        </form>

        <ul class="comment-list">
            <li class="comment-item" th:each="comment : ${comments}">
                <div class="comment-content">
                    <!-- 댓글 프로필 생성-->
                    <img class="comment-profile-img" th:if="${comment.user.profileImage != null}"
                         th:src="@{'/image/profile/' + ${comment.user.profileImage.storeImageName}}"
                         alt="Profile Image" />
                    <!-- 댓글 프로필 기본이미지 생성-->
                    <img class="comment-profile-img" th:unless="${comment.user.profileImage != null}"
                         th:src="@{'/image/level/' + ${comment.user.level.imageName}}"
                         alt="Level Image" />
                    <span class="comment-writer" th:text="${comment.user.nickname}"></span>
                    <span class="board-menu-toggle" th:if="${comment.user != null && loginUserId != null && comment.user.id == loginUserId}">
                        <i class="fa-solid fa-ellipsis-vertical" onclick="toggleCommentMenu(this)"></i>
                    </span>
                </div>
                <div class="comment-writer-container">
                    <span class="comment-writer-result" th:text="${comment.content}"></span><br>
                    <textarea class="edit-comment-textarea" style="display:none;"></textarea>
                    <div class="comment-writer-button">
                        <button class="save-edit" style="display:none;">수정</button>
                        <button class="cancel-edit" style="display:none;">취소</button>
                    </div>
                </div>
                <span class="comment-date" th:text="${#temporals.format(comment.writeDate, 'yyyy.MM.dd HH:mm')}"></span>
                <div class="comment-meta" th:data-comment-id="${comment.id}" th:if="${isAuthenticated}">
                    <button class="comment-likes" onclick="toggleLike(this)">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </button>
                    <button class="comment-dislikes" onclick="toggleDislike(this)">
                        <i class="fa-regular fa-thumbs-down"></i>
                    </button>
                </div>
                <div class="comment-menu">
                    <div class="comment-edit-delete-container">
                        <button type="button" class="menu-item-edit">수정</button>
                        <hr />
                        <form th:action="@{/board/{boardId}/comment/{commentId}/delete(boardId=${board.id}, commentId=${comment.id})}" method="post" >
                            <button type="submit" class="menu-item-delete">삭제</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<div th:insert="~{fragments/footer :: footer}"></div>

<div class="modal-overlay" id="reportModalOverlay">
    <div class="board-show-report-modal">
        <div class="board-show-report-title">신고하기</div>
        <div class="report-radio-group">
            <label class="report-radio-label">
                <span class="radio-inner-circle"></span>
                부적절한 게시글
            </label>
            <label class="report-radio-label">
                <span class="radio-inner-circle"></span>
                중복 게시글 도배
            </label>
            <label class="report-radio-label">
                <span class="radio-inner-circle"></span>
                욕설
            </label>
            <label class="report-radio-label-other">
                <span class="radio-inner-circle"></span>
                기타
            </label>
        </div>
        <textarea class="report-other-text" id="otherReasonInput" placeholder="기타 입력"></textarea>
        <div class="report-modal-button">
            <button class="board-show-report-modal-submit" type="button" th:onclick="'incrementReportCountAndRedirect(' + ${board.id} + '); return false;'">신고</button>
            <button class="board-show-report-modal-cancel" type="button">취소</button>
        </div>
    </div>
</div>

<script>
    // 메뉴 기능
    document.addEventListener('DOMContentLoaded', (event) => {

        const commentInput = document.getElementById('comment-input');
        const charCounter = document.getElementById('char-counter');
        const boardImagePreview = document.getElementById('boardImagePreview');

        if (!boardImagePreview.src || boardImagePreview.src.endsWith('null')) {
            boardImagePreview.style.display = 'none';
        }

        // 0/500 내용 카운트
        if (commentInput && charCounter) {
            commentInput.addEventListener('input', function() {
                const maxLength = commentInput.getAttribute('maxlength');
                const currentLength = commentInput.value.length;
                charCounter.textContent = `${currentLength} / 500`;
            });
        }

        loadLikesDislikes();
    });

    document.addEventListener('DOMContentLoaded', function() {
        const toggleButtons = document.querySelectorAll('.board-menu-toggle');
        toggleButtons.forEach(button => {
            button.addEventListener('click', function() {
                toggleBoardMenu(this);
            });
        });
    });

    function toggleBoardMenu(icon) {
        const boardMenu = icon.nextElementSibling;
        if (boardMenu) {
            boardMenu.style.display = boardMenu.style.display === 'block' ? 'none' : 'block';
        } else {
            console.error('Board menu not found');
        }
    }

    // 댓글 수정 기능
    document.addEventListener('DOMContentLoaded', function () {
        const editButtons = document.querySelectorAll('.menu-item-edit');
        editButtons.forEach(button => {
            button.addEventListener('click', function () {
                const commentItem = this.closest('.comment-item');
                const commentText = commentItem.querySelector('.comment-writer-result');
                const editTextarea = commentItem.querySelector('.edit-comment-textarea');
                const saveButton = commentItem.querySelector('.save-edit');
                const cancelButton = commentItem.querySelector('.cancel-edit');

                editTextarea.value = commentText.textContent;
                commentText.style.display = 'none';
                editTextarea.style.display = 'block';
                saveButton.style.display = 'inline-block';
                cancelButton.style.display = 'inline-block';

                saveButton.addEventListener('click', function () {
                    const newText = editTextarea.value;
                    commentText.textContent = newText;
                    commentText.style.display = 'block';
                    editTextarea.style.display = 'none';
                    saveButton.style.display = 'none';
                    cancelButton.style.display = 'none';
                });

                cancelButton.addEventListener('click', function () {
                    commentText.style.display = 'block';
                    editTextarea.style.display = 'none';
                    saveButton.style.display = 'none';
                    cancelButton.style.display = 'none';
                });
            });
        });
        document.addEventListener('click', function (event) {
            const commentMenus = document.querySelectorAll('.comment-menu');
            commentMenus.forEach(menu => {
                if (!menu.contains(event.target) && !menu.closest('.comment-item').contains(event.target)) {
                    menu.style.display = 'none';
                }
            });
        });
    });

    //신고 모달창 열기 및 닫기 기능 추가
    const modal = document.getElementById('reportModalOverlay');
    const openModalBtn = document.querySelector('.board-menu-item-report');
    const closeModalBtn = document.querySelector('.board-show-report-modal-cancel');

    openModalBtn.addEventListener('click', function (e) {
        e.preventDefault();
        modal.style.display = 'flex';
    });

    closeModalBtn.addEventListener('click', function () {
        modal.style.display = 'none';
    });

    // 모달 창 외부를 클릭하면 닫기
    window.addEventListener('click', function (e) {
        if (e.target === modal) {
            modal.style.display = 'none';
        }
    });
    //신고 선택
    document.querySelectorAll('.report-radio-label').forEach(label => {
        label.addEventListener('click', function() {
            document.querySelectorAll('.report-radio-label').forEach(lbl => {
                lbl.classList.remove('selected');
            });
            this.classList.add('selected');
        });
    });

</script>
<script type="text/javascript" src="/js/showPage.js"></script>
</body>
</html>
