/* LevelUpModal.css */
.levelUp_modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.levelUp_modal_content {
    background-color: #fefefe;
    width: 50%;
    /* 모달의 너비를 설정하세요 */
    height: 500px;
    max-width: 600px;
    /* 모달의 최대 너비를 설정하세요 */
    margin: 10% auto;
    padding: 10px 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal_content {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 24px;
    gap: 10px;
    margin-bottom: 50px;
}

.levelUp_modal_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
}

.levelUp_modal_close:hover,
.levelUp_modal_close:focus {
    color: #000;
    text-decoration: none;
}

.levelup_next {
    border: 1px solid #FFC60B;
    width: 200px;
    height: 70px;
    margin: 0 auto;
    border-radius: 20px;
    align-items: center;
}

.levelup_next:hover{
    border: 2px solid #FFC60B;
}

.level_img {
    width: 200px;
    height: 200px;
    align-self: center;
    z-index: 1;
    position: relative;
}

.level_img_star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* 배경 이미지가 아래에 오도록 설정 */
    transform: scale(1.5);
}

.image-container {
    position: relative;
    margin: auto;
    width: 200px;
    /* level_img와 동일한 너비로 설정 */
    height: 200px;
    /* level_img와 동일한 높이로 설정 */
}

/* 폭죽 */

particule {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 4px #eb6383;
}

.levelup_egg1{
    width: 40px;
    height: 50px;
    transition: all 0.3s ease;
}

.levelup_egg2{
    display: none;
}

.levelup_next:hover .levelup_egg1{
    display: none;

}

.levelup_next:hover .levelup_egg2{
    display: inline;
    width: 40px;
    height: 55px;
}