/* LevelUpModal.css */
.levelUp_modal {
    display: none; /* 기본적으로 모달은 숨김 상태 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.levelUp_modal_content {
    background-color: #fefefe;
    width: 50%; /* 모달의 너비를 설정하세요 */
    max-width: 600px; /* 모달의 최대 너비를 설정하세요 */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; /* 모달 내용을 가운데 정렬 */
}

.levelUp_modal_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.levelUp_modal_close:hover,
.levelUp_modal_close:focus {
    color: #000;
    text-decoration: none;
}