<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/accountDeletion.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/accountDeletion.js"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="delete-container">
    <div class="delete-signup-container">
        <div class="delete-form-delete">
            <div class="delete-form-wrapper">
                <div class="delete-form-content">
                    <div class="delete-form-header">회원 탈퇴</div>
                    <p class="delete-form-delete-message">가입된 이메일로 본인 인증 후 탈퇴 처리됩니다.</p>
                    <form action="/myPage/account-deletion/verifyCode" method="post" id="delete-emailCodeForm">
                        <div class="delete-form-group">
                            <label for="delete-email" class="delete-form-label">이메일</label>
                            <div class="delete-input-wrapper">
                                <input type="email" id="delete-email" class="delete-form-input" placeholder="이메일" readonly th:value="${email}" />
                                <i class="fa fa-lock"></i>
                            </div>
                            <button id="delete-sendCodeButton" type="button" class="delete-email-check">인증 코드 전송</button>
                            <input type="hidden" name="email" id="delete-emailHidden" th:value="${email}">
                        </div>
                        <div class="delete-form-group">
                            <label for="delete-verificationCodeInput" class="delete-form-label">인증 코드</label>
                            <div class="delete-input-wrapper">
                                <input type="text" id="delete-verificationCodeInput" name="code" class="delete-form-input"/>
                            </div>
                        </div>
                        <div class="delete-form-footer">
                            <button type="submit" class="delete-user">계정 삭제</button>
                            <button type="button" class="delete-before">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
