<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Who's DucKing</title>
    <link rel="icon" href="/images/10duck.ico">
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/accountDeletion.js"></script>
    <link rel="stylesheet" href="/css/accountDeletion.css" />
</head>

<body>
<div>
    <h2>계정 삭제</h2>
    계정을 삭제하시겠습니까? 이메일 인증을 통해 도와드리겠습니다. <br>
    <label id="emailLabel" th:text="${email}"></label>
    <button id="sendCodeButton" type="button">인증 코드 보내기</button>
    <form action="/myPage/account-deletion/verifyCode" method="post">
        <input type="hidden" name="email" id="emailHidden" th:value="${email}">
        <input type="text" name="code" id="verificationCodeInput" placeholder="인증 코드">
        <input type="submit" value="계정 삭제">
    </form>
</div>
</body>

</html>