<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who's DucKing</title>
    <link rel="icon" href="/images/10duck.ico">
    <link rel="stylesheet" href="/css/editPage.css" />
    <script src="/js/editPage.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
</head>

<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="line"></div>
<h2>프로필 수정</h2>
<div class="container">
    <form th:action="@{/myPage/{userId}/edit(userId=${loginUser.getId()})}" method="post"
          enctype="multipart/form-data" onsubmit="return validateForm()">

        <div class="profile-image">
            <img class="profile-img" id="profileImagePreview"
                 th:src="${loginUser.profileImage != null ? '/image/profile/' + loginUser.profileImage.storeImageName : ''}"
                 alt="Profile Image" style="display: none;" />
            <img class="profile-img" id="levelImagePreview"
                 th:src="@{'/image/level/' + ${loginUser.level.imageName}}" alt="Level Image"
                 style="display: none;" />
        </div>
        <input type="file" id="profileImageInput" name="profileImage" accept="image/*">
        <button type="button" id="useDefaultImage" style="display: none;">기본 이미지 사용</button>
        <input type="hidden" id="useDefaultImageFlag" name="useDefaultImage"
               th:value="${loginUser.profileImage == null ? 'true' : 'false'}">

        <ul>
            <ul>
                <li class="name">닉네임</li>
                <li class="box">
                    <input type="text" id="currentNickname" name="nickname" class="text"
                           th:value="${loginUser.getNickname()}" readonly>
                    <button class="check" type="button" id="changeNicknameButton">변 경</button>
                </li>
            </ul>

            <ul>
                <li class="name">이메일</li>
                <li class="box">
                    <input type="email" class="text" th:value="${loginUser.getEmail()}" readonly>
                    <div class="image">

                        <i class="fas fa-lock icon"></i>
                    </div>
                <li class="email">
                    <!-- 체크박스와 텍스트를 연결하기 위해 label 사용 -->
                    <label class="email-label">이메일 수신여부
                        <input type="checkbox" name="emailConsent" th:checked="${loginUser.emailConsent}" class="email-checkbox">
                        <span class="checkbox-icon"></span>
                    </label>
                </li>
            </ul>

            <ul>
                <li class="name">전화번호</li>
                <li class="box">
                    <input type="number" id="phone" class="text" name="phone" th:value="${loginUser.phone}"
                           readonly>
                    <button type="button" id="changePhoneButton" class="check" onclick="changePhone(this)">변
                        경</button>
                </li>
            </ul>

            <ul id="verification-code" class="hidden">
                <li class="name">인증번호</li>
                <li class="box">
                    <input type="number" id="verificationInput" class="text">
                    <button type="button" id="checkCodeButton" class="check" onclick="verifyCode()">인증번호 확인</button>
                </li>
            </ul>

            <ul>

                <li class="name">성별</li>
                <li class="gender-select">
                    <input type="radio" id="male" name="gender" value="MALE"
                           th:checked="${loginUser.gender == T(hello.entity.user.Gender).MALE}" />
                    <label for="male">남</label>
                    <input type="radio" id="female" name="gender" value="FEMALE"
                           th:checked="${loginUser.gender == T(hello.entity.user.Gender).FEMALE}" />
                    <label for="female">여</label>
                </li>

            </ul>


            <ul>
                <li class="name">선호 애니 장르
                    <button type="button" id="showGenreModal" class="check-genre">장르 변경</button>
                </li>

                <ul id="selected-genres">
                <div class="genre-like-row">
                    <li th:each="userGenre : ${loginUser.userGenres}">

                        <div class="genre-like-item">
                            <label th:text="${userGenre.genre.name}" class="label-like"></label>
                        </div>
                    </li>
                </div>
                </ul>
                <input type="hidden" name="selectedGenres" id="selectedGenresInput">
            </ul>


        </ul>
        <!-- 모달 구조 -->
        <div id="genreModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeGenreModal">&times;</span>

                <div class="genre-selection">
                    <div class="genre-container">
                        <div class="genre-header">
                            <div class="genre-title">애니 장르 선택</div>
                            <div class="genre-subtitle">최대 5개 선택가능</div>
                        </div>
                        <div class="genre-list">
                            <div class="genre-row">
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_action" name="genres" value="액션"
                                           class="checkbox_class" />
                                    <label for="custom_button_action" id="custom_button_action_label"
                                           class="checkbox_label">액션</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_munchkin" name="genres" value="먼치킨"
                                           class="checkbox_class" />
                                    <label for="custom_button_munchkin" id="custom_button_munchkin_label"
                                           class="checkbox_label">먼치킨</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_mystery" name="genres" value="추리/미스테리"
                                           class="checkbox_class" />
                                    <label for="custom_button_mystery" id="custom_button_mystery_label"
                                           class="checkbox_label">추리/미스테리</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_sports" name="genres" value="스포츠"
                                           class="checkbox_class" />
                                    <label for="custom_button_sports" id="custom_button_sports_label"
                                           class="checkbox_label">스포츠</label>
                                </div>
                            </div>
                            <div class="genre-row">
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_magic" name="genres" value="마법"
                                           class="checkbox_class" />
                                    <label for="custom_button_magic" id="custom_button_magic_label"
                                           class="checkbox_label">마법</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_comedy" name="genres" value="개그"
                                           class="checkbox_class" />
                                    <label for="custom_button_comedy" id="custom_button_comedy_label"
                                           class="checkbox_label">개그</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_daily" name="genres" value="일상"
                                           class="checkbox_class" />
                                    <label for="custom_button_daily" id="custom_button_daily_label"
                                           class="checkbox_label">일상</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_romance" name="genres" value="순정"
                                           class="checkbox_class" />
                                    <label for="custom_button_romance" id="custom_button_romance_label"
                                           class="checkbox_label">순정</label>
                                </div>
                            </div>
                            <div class="genre-row">
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_fantasy" name="genres" value="판타지"
                                           class="checkbox_class" />
                                    <label for="custom_button_fantasy" id="custom_button_fantasy_label"
                                           class="checkbox_label">판타지</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_school" name="genres" value="학원"
                                           class="checkbox_class" />
                                    <label for="custom_button_school" id="custom_button_school_label"
                                           class="checkbox_label">학원</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_healing" name="genres" value="힐링"
                                           class="checkbox_class" />
                                    <label for="custom_button_healing" id="custom_button_healing_label"
                                           class="checkbox_label">힐링</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_historical" name="genres" value="시대"
                                           class="checkbox_class" />
                                    <label for="custom_button_historical" id="custom_button_historical_label"
                                           class="checkbox_label">시대</label>
                                </div>
                            </div>
                            <div class="genre-row">
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_maid" name="genres" value="메이드"
                                           class="checkbox_class" />
                                    <label for="custom_button_maid" id="custom_button_maid_label"
                                           class="checkbox_label">메이드</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_tsundere" name="genres" value="츤데레"
                                           class="checkbox_class" />
                                    <label for="custom_button_tsundere" id="custom_button_tsundere_label"
                                           class="checkbox_label">츤데레</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_yandere" name="genres" value="얀데레"
                                           class="checkbox_class" />
                                    <label for="custom_button_yandere" id="custom_button_yandere_label"
                                           class="checkbox_label">얀데레</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_love" name="genres" value="러브"
                                           class="checkbox_class" />
                                    <label for="custom_button_love" id="custom_button_love_label"
                                           class="checkbox_label">러브</label>
                                </div>
                            </div>
                            <div class="genre-row">
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_bl" name="genres" value="BL"
                                           class="checkbox_class" />
                                    <label for="custom_button_bl" id="custom_button_bl_label"
                                           class="checkbox_label">BL</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_philosophy" name="genres" value="철학"
                                           class="checkbox_class" />
                                    <label for="custom_button_philosophy" id="custom_button_philosophy_label"
                                           class="checkbox_label">철학</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_harem" name="genres" value="하렘"
                                           class="checkbox_class" />
                                    <label for="custom_button_harem" id="custom_button_harem_label"
                                           class="checkbox_label">하렘</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_reverse_harem" name="genres" value="역하렘"
                                           class="checkbox_class" />
                                    <label for="custom_button_reverse_harem" id="custom_button_reverse_harem_label"
                                           class="checkbox_label">역하렘</label>
                                </div>

                            </div>
                            <div class="genre-row">
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_yuri" name="genres" value="백합"
                                           class="checkbox_class" />
                                    <label for="custom_button_yuri" id="custom_button_yuri_label"
                                           class="checkbox_label">백합</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_horror" name="genres" value="호러"
                                           class="checkbox_class" />
                                    <label for="custom_button_horror" id="custom_button_horror_label"
                                           class="checkbox_label">호러</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_kids" name="genres" value="아동"
                                           class="checkbox_class" />
                                    <label for="custom_button_kids" id="custom_button_kids_label"
                                           class="checkbox_label">아동</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_virtual" name="genres" value="가상"
                                           class="checkbox_class" />
                                    <label for="custom_button_virtual" id="custom_button_virtual_label"
                                           class="checkbox_label">가상</label>
                                </div>
                            </div>
                            <div class="genre-row">
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_mental" name="genres" value="멘붕"
                                           class="checkbox_class" />
                                    <label for="custom_button_mental" id="custom_button_mental_label"
                                           class="checkbox_label">멘붕</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_mecha" name="genres" value="메카"
                                           class="checkbox_class" />
                                    <label for="custom_button_mecha" id="custom_button_mecha_label"
                                           class="checkbox_label">메카</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_superpower" name="genres" value="능력자"
                                           class="checkbox_class" />
                                    <label for="custom_button_superpower" id="custom_button_superpower_label"
                                           class="checkbox_label">능력자</label>
                                </div>
                                <div class="genre-item">
                                    <input type="checkbox" id="custom_button_shota" name="genres" value="쇼타"
                                           class="checkbox_class" />
                                    <label for="custom_button_shota" id="custom_button_shota_label"
                                           class="checkbox_label">쇼타</label>
                                </div>
                            </div>
                        </div>

                        <div class="genre-submit">
                            <button class="submit-btn" type="button" id="submitGenres">선택 완료</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul>
            <li class="name">주소</li>
            <li class="box">
                <input type="text" class="text" id="postcode" name="zipcode"
                       th:value="${loginUser.homeAddress.zipcode}" readonly>
                <button type="button" class="check" onclick="execDaumPostcode()">우편번호 찾기</button>
            </li>
            <li class="box">
                <input type="text" class="text" name="address" oninput="updateStyledText(this)" id="address"
                       th:value="${loginUser.homeAddress.address}" readonly>
                <span class="styled-text" id="address">주소</span>
            </li>
            <li class="box">
                <input type="text" class="text" name="detailAddress"
                       th:value="${loginUser.homeAddress.detailedAddress}" oninput="updateStyledText(this)"
                       id="detail-address">
                <span class="styled-text" id="address-detail">상세 주소</span>
            </li>
        </ul>

        <ul>
            <li class="action">
                <button type="submit" class="edit">회원 정보 수정</button>
            </li>
        </ul>
    </form>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>