<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="boardList.css">
</head>
<body>
<div th:insert="~{fragment/header :: header}"></div>

<div class="free-board">
    <div class="board-title">자유 게시판</div>
    <!--게시글 분류-->
    <div class="sort-options">
        <div class="sort-option selected">최신순</div>
        <div class="sort-option">조회수순</div>
    </div>
    <!--페이지 표시-->
    <div class="pagination">
        <div class="pagination-first">
            <div class="pagination-background"></div>
            <img class="pagination-icon" src="chevrons-left0.svg" />
        </div>
        <div class="pagination-prev">
            <div class="pagination-background"></div>
            <img class="pagination-icon" src="chevron-left0.svg" />
        </div>
        <div class="pagination-number selected">1</div>
        <div class="pagination-number">2</div>
        <div class="pagination-next">
            <div class="pagination-background"></div>
            <img class="pagination-icon" src="chevron-right0.svg" />
        </div>
        <div class="pagination-last">
            <div class="pagination-background"></div>
            <img class="pagination-icon" src="chevrons-right0.svg" />
        </div>
    </div>
    <!--게시판 종류 선택-->
    <div class="board-sections">
        <div class="board-categories">
            <div class="category-box">
                <div class="category-title selected">리뷰 게시판</div>
                <div class="category-separator"></div>
                <div class="category-title">자유 게시판</div>
            </div>
        </div>
        <!--게시글 목록 테이블-->
        <div class="board-list">
            <div class="board-header">
                <div class="board-column">번호</div>
                <div class="board-column">제목</div>
                <div class="board-column-group">
                    <div class="board-column">작성자</div>
                    <div class="board-column">작성일</div>
                    <div class="board-column">조회수</div>
                </div>
            </div>
            <div class="board-separator"></div>
            <div class="board-entries">
                <div th:each="board, iterStat : ${boards}" class="board-entry">
                    <div class="entry-number" th:text="${iterStat.index + 1}">1</div>
                    <div class="entry-title" th:text="${board.title}">게시글 제목</div>
                    <div class="entry-details">
                        <div class="entry-author" th:text="${board.user.nickname}">작성자</div>
                        <div class="entry-date" th:text="${#dates.format(board.writeDate, 'yyyy.MM.dd')}">작성일</div>
                        <div class="entry-views" th:text="${board.viewCount}">조회수</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="background-image" src="freeBoard-eren.png" />
</div>

<div th:insert="~{fragment/footer :: footer}"></div>
</body>
</html>