<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>

    <!-- Swiper -->
    <link rel="stylesheet" href="/src/main/webapp/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/src/main/webapp/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/src/main/webapp/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/src/main/webapp/css/common.css" />

    <!-- jQuery -->
    <script src="/src/main/webapp/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/src/main/webapp/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/src/main/webapp/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/src/main/webapp/js/common.js"></script>

    
</head>

<body>
    <html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/genre.css">
        <script src="/js/registerGenre.js"></script>

        <title>Who's DucKing</title>

        <!-- Swiper -->
        <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
        <!-- AOS -->
        <link rel="stylesheet" href="/vendor/aos/aos.css">
        <!-- Animate -->
        <link rel="stylesheet" href="/vendor/animate/animate.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/common.css" />

        <!-- jQuery -->
        <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
        <!-- swiper -->
        <script src="/vendor/swiper/swiper-bundle.min.js"></script>
        <!-- AOS -->
        <script src="/vendor/aos/aos.js"></script>
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
        <!-- JavaScript -->
        <script type="text/javascript" src="/js/common.js"></script>
    </head>

    <body>
        <div th:insert="~{fragments/header :: header}"></div>

        <form action="/register" method="post">
            <div class="genre_genre-selection">
                <div class="genre_genre-container">
                    <div class="genre_genre-header">
                        <div class="genre_genre-title">애니 장르 선택</div>
                        <div class="genre_genre-subtitle">중복 선택 가능</div>
                    </div>
                    <div class="genre_genre-list">
                        <div class="genre_genre-row">
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_action" name="genre" value="액션"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_action" id="genre_custom_button_action_label"
                                    class="genre_checkbox_label">액션</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_munchkin" name="genre" value="먼치킨"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_munchkin" id="genre_custom_button_munchkin_label"
                                    class="genre_checkbox_label">먼치킨</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_mystery" name="genre" value="추리/미스테리"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_mystery" id="genre_custom_button_mystery_label"
                                    class="genre_checkbox_label">추리/미스테리</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_sports" name="genre" value="스포츠"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_sports" id="genre_custom_button_sports_label"
                                    class="genre_checkbox_label">스포츠</label>
                            </div>
                        </div>
                        <div class="genre_genre-row">
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_magic" name="genre" value="마법"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_magic" id="genre_custom_button_magic_label"
                                    class="genre_checkbox_label">마법</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_comedy" name="genre" value="개그"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_comedy" id="genre_custom_button_comedy_label"
                                    class="genre_checkbox_label">개그</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_daily" name="genre" value="일상"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_daily" id="genre_custom_button_daily_label"
                                    class="genre_checkbox_label">일상</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_romance" name="genre" value="순정"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_romance" id="genre_custom_button_romance_label"
                                    class="genre_checkbox_label">순정</label>
                            </div>
                        </div>
                        <div class="genre_genre-row">
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_fantasy" name="genre" value="판타지"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_fantasy" id="genre_custom_button_fantasy_label"
                                    class="genre_checkbox_label">판타지</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_school" name="genre" value="학원"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_school" id="genre_custom_button_school_label"
                                    class="genre_checkbox_label">학원</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_healing" name="genre" value="힐링"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_healing" id="genre_custom_button_healing_label"
                                    class="genre_checkbox_label">힐링</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_historical" name="genre" value="시대"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_historical" id="genre_custom_button_historical_label"
                                    class="genre_checkbox_label">시대</label>
                            </div>
                        </div>
                        <div class="genre_genre-row">
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_maid" name="genre" value="메이드"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_maid" id="genre_custom_button_maid_label"
                                    class="genre_checkbox_label">메이드</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_tsundere" name="genre" value="츤데레"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_tsundere" id="genre_custom_button_tsundere_label"
                                    class="genre_checkbox_label">츤데레</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_yandere" name="genre" value="얀데레"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_yandere" id="genre_custom_button_yandere_label"
                                    class="genre_checkbox_label">얀데레</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_love" name="genre" value="러브"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_love" id="genre_custom_button_love_label"
                                    class="genre_checkbox_label">러브</label>
                            </div>
                        </div>
                        <div class="genre_genre-row">
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_bl" name="genre" value="BL"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_bl" id="genre_custom_button_bl_label"
                                    class="genre_checkbox_label">BL</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_philosophy" name="genre" value="철학"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_philosophy" id="genre_custom_button_philosophy_label"
                                    class="genre_checkbox_label">철학</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_harem" name="genre" value="하렘"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_harem" id="genre_custom_button_harem_label"
                                    class="genre_checkbox_label">하렘</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_reverse_harem" name="genre" value="역하렘"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_reverse_harem" id="genre_custom_button_reverse_harem_label"
                                    class="genre_checkbox_label">역하렘</label>
                            </div>

                        </div>
                        <div class="genre_genre-row">
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_yuri" name="genre" value="백합"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_yuri" id="genre_custom_button_yuri_label"
                                    class="genre_checkbox_label">백합</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_horror" name="genre" value="호러"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_horror" id="genre_custom_button_horror_label"
                                    class="genre_checkbox_label">호러</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_kids" name="genre" value="아동"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_kids" id="genre_custom_button_kids_label"
                                    class="genre_checkbox_label">아동</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_virtual" name="genre" value="가상"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_virtual" id="genre_custom_button_virtual_label"
                                    class="genre_checkbox_label">가상</label>
                            </div>
                        </div>
                        <div class="genre_genre-row">
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_mental" name="genre" value="멘붕"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_mental" id="genre_custom_button_mental_label"
                                    class="genre_checkbox_label">멘붕</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_mecha" name="genre" value="메카"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_mecha" id="genre_custom_button_mecha_label"
                                    class="genre_checkbox_label">메카</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_superpower" name="genre" value="능력자"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_superpower" id="genre_custom_button_superpower_label"
                                    class="genre_checkbox_label">능력자</label>
                            </div>
                            <div class="genre_genre-item">
                                <input type="checkbox" id="genre_custom_button_shota" name="genre" value="쇼타"
                                    class="genre_checkbox_class" />
                                <label for="genre_custom_button_shota" id="genre_custom_button_shota_label"
                                    class="genre_checkbox_label">쇼타</label>
                            </div>
                        </div>
                    </div>
                    <div class="genre_genre-submit">
                        <button class="genre_submit-btn" type="submit">회원가입</button>
                    </div>
                </div>
            </div>
        </form>

        <div th:insert="~{fragments/footer :: footer}"></div>
    </body>
    <script>
        // 체크박스 가져오기
        const checkboxes = document.querySelectorAll('.genre_checkbox_class');

        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('click', (e) => {
                const label = document.getElementById(e.target.id + "_label");
                if (e.target.checked == true) {
                    label.classList.replace('genre_checkbox_label', 'genre_checkbox_label_click');
                } else {
                    label.classList.replace('genre_checkbox_label_click', 'genre_checkbox_label');
                }
            });
        });
    </script>

    </html>
</body>

</html>
