<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/loginPage.css">
  <title>로그인 페이지</title>
</head>

<body>
  <div class="sign-up-login">
    <div class="header">
      <img class="logo" src="/png/whoduck1.png" />
      <div class="menu">
        <div class="search-bar">
          <input type="text" class="search-input" placeholder="검색" />
          <img class="search-icon" src="/png/Vector.png" />
        </div>
        <nav class="header-bar">
          <p>장르</p>
          <p>커뮤니티</p>
          <p>소식</p>
          <p>놀이터</p>
          <p>알림</p>
        </nav>
        <div class="alarm-check">5</div>
      </div>
      <img class="profile" src="/png/mini.png" />
    </div>

    <div class="login-container">
      <div class="login-wrapper">
        <img class="who-duck" src="/png/whoduck1.png" />
        <img class="app-logo" src="/png/1232.png" />
        <div class="login-options">
          <div class="login-option">
            <div class="login-btn google">
              <img class="login-icon" src="/png/google-icon.png" />
              <a href="/oauth2/authorization/google">구글로 시작하기</a>
            </div>
          </div>
          <div class="login-option">
            <div class="login-btn naver">
              <img class="login-icon" src="/png/naver-icon.png" />
              <a href="/oauth2/authorization/naver">네이버로 시작하기</a>
            </div>
          </div>
          <div class="login-option">
            <div class="login-btn kakao">
              <img class="login-icon" src="/png/kakao-icon.png" />
              <a href="/oauth2/authorization/kakao">카카오로 시작하기</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-content">
        <img class="footer-logo" src="/png/logoblack1.png" />
        <div class="footer-links">
          <a href="#" class="footer-link">이용약관</a>
          <a href="#" class="footer-link">개인정보처리방침</a>
          <a href="#" class="footer-link">공지사항</a>
          <a href="#" class="footer-link">자주 묻는 질문</a>
        </div>
        <div class="reserved">
          COPYRIGHT ⓒ Who’s DucKing, ALL RIGHTS RESERVED.
        </div>
        <div class="footer-team">
          <span>정성진</span>
          <span>노승빈</span>
          <span>김승민</span>
          <span>서준명</span>
          <span>김수정</span>
          <span>안성민</span>
        </div>
        <img class="github1" src="/png/github1.png" />
      </div>
    </footer>
  </div>
</body>

</html>
