<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/loginPage.css">
  <title>Who's DucKing</title>
  <link rel="icon" href="/images/10duck.ico">
  <!-- Swiper -->
  <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
  <!-- AOS -->
  <link rel="stylesheet" href="/vendor/aos/aos.css">
  <!-- Animate -->
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/common.css" />

  <!-- jQuery -->
  <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
  <!-- swiper -->
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- AOS -->
  <script src="/vendor/aos/aos.js"></script>
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
  <!-- JavaScript -->
  <script type="text/javascript" src="/js/common.js"></script>
</head>

<body>
  <div class="sign-up-login">
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="login-container">
      <div class="login-wrapper">
        <img class="who-duck" src="/images/logo.png" />
        <img class="app-logo" src="/images/10duck.png" />
        <div class="login-options">
          <div class="login-option">
            <div class="login-btn google">
              <img class="login-icon" src="/images/google-icon.png" />
              <a href="/oauth2/authorization/google">구글로 시작하기</a>
            </div>
          </div>
          <div class="login-option">
            <div class="login-btn naver">
              <img class="login-icon" src="/images/naver-icon.png" />
              <a href="/oauth2/authorization/naver">네이버로 시작하기</a>
            </div>
          </div>
          <div class="login-option">
            <div class="login-btn kakao">
              <img class="login-icon" src="/images/kakao-icon.png" />
              <a href="/oauth2/authorization/kakao">카카오로 시작하기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
  </div>
</body>

</html>