<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/loginPage.css">
    <title>Who's DucKing</title>
    <link rel="icon" href="/images/10duck.ico">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common.css" />
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div class="sign-up-login">
    <div th:insert="~{fragments/header :: header}"></div>
    <div class="login-container">
        <div class="login-wrapper">
            <img class="who-duck" src="/images/Logo/logo.png" />
            <img class="app-logo" src="/images/Level/10duck.png" />
            <div class="login-options">
                <div class="login-option">
                    <div class="login-btn google" id="google-login"> <!--a태그 -> id에 속성값을 추가하여 버튼 인식 -->
                        <img class="login-icon" src="/images/SNS_Icon/google-icon.png" />
                        구글로 시작하기
                    </div>
                </div>
                <div class="login-option">
                    <div class="login-btn naver" id="naver-login">
                        <img class="login-icon" src="/images/SNS_Icon/naver-icon.png" />
                        네이버로 시작하기
                    </div>
                </div>
                <div class="login-option">
                    <div class="login-btn kakao" id="kakao-login">
                        <img class="login-icon" src="/images/SNS_Icon/kakao-icon.png" />
                        카카오로 시작하기
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
<script>
    document.getElementById('google-login').addEventListener('click', function() {
      window.location.href = '/oauth2/authorization/google';
    });
    document.getElementById('naver-login').addEventListener('click', function() {
      window.location.href = '/oauth2/authorization/naver';
    });
    document.getElementById('kakao-login').addEventListener('click', function() {
      window.location.href = '/oauth2/authorization/kakao';
    });
</script>
</body>
</html>
