<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/lucky.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<h2 class="lucky-title">럭키 드로우</h2>

<div class="lucky-cnt swiper">
    <ul class="lucky-cnt__items swiper-wrapper">
        <li class="swiper-slide">
            <div class="lucky-cnt__img-box">
                <span class="lucky-cnt__img" style="background-image: url(/images/Lucky/OnePad.png);"></span>
            </div>
            <div class="lucky-cnt__text">
                <p class="lucky-cnt__desc">
                    이번주 대박 럭키드로우
                </p>
                <h2 class="lucky-cnt__title">
                    원피스 장패드
                </h2>
                <a href="#none" class="lucky-cnt__link">
                    바로가기
                </a>
            </div>
        </li>
        <li class="swiper-slide">
            <div class="lucky-cnt__img-box">
                <span class="lucky-cnt__img" style="background-image: url(/images/Lucky/Ren.png);"></span>
            </div>
            <div class="lucky-cnt__text">
                <p class="lucky-cnt__desc">
                    오레와 엔바시라!
                </p>
                <h2 class="lucky-cnt__title">
                    렌고쿠 쿄주로 피규어
                </h2>
                <a href="#none" class="lucky-cnt__link">
                    바로가기
                </a>
            </div>
        </li>
        <li class="swiper-slide">
            <div class="lucky-cnt__img-box">
                <span class="lucky-cnt__img" style="background-image: url(/images/Lucky/Mit.png);"></span>
            </div>
            <div class="lucky-cnt__text">
                <p class="lucky-cnt__desc">
                    럭키드로우
                </p>
                <h2 class="lucky-cnt__title">
                    칸로지 미츠리 피규어
                </h2>
                <a href="#none" class="lucky-cnt__link">
                    바로가기
                </a>
            </div>
        </li>
    </ul>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Navigation -->
    <div class="swiper-button-next mainFirstSection_swiper-next_btn"></div>
    <div class="swiper-button-prev mainFirstSection_swiper-prev_btn"></div>
</div>

<div class="lucky-tab-menu">
    <div class="lucky-tab">UR</div>
    <div class="lucky-tab">SR</div>
    <div class="lucky-tab">R</div>
    <div class="lucky-tab">N</div>
</div>
<div class="lucky-notice">
    <p class="lucky-check">럭키 드로우 응모는 하루 1번만 가능 합니다!</p>
</div>
<section class="lucky-list">
    <ul class="lucky-cards">
        <li class="lucky-card">
            <span class="draw-grade">UR</span>
            <div class="lucky-card-menu">
                <div class="lucky-image-container">
                    <img src="/images/Lucky/OnePad2.png">
                    <div class="card-overlay">
                        <span class="expiry-date"><i class="fa-solid fa-calendar icon"></i> 2024.06.28 까지</span>
                    </div>
                </div>
                <h4>원피스 장패드</h4>
                <p><i class="fa-solid fa-coins icon"></i>30P</p>
                <div class="apply-button"><a href="/">응모하기</a></div>
            </div>
        </li>
        <li class="lucky-card">
            <span class="draw-grade">UR</span>
            <div class="lucky-card-menu">
                <div class="lucky-image-container">
                    <img src="/images/Lucky/Mit.png">
                    <div class="card-overlay">
                        <span class="expiry-date"><i class="fa-solid fa-calendar icon"></i> 2024.06.28 까지</span>
                    </div>
                </div>
                <h4>미츠리 피규어</h4>
                <p><i class="fa-solid fa-coins icon"></i>30P</p>
                <div class="apply-button"><a href="/">응모하기</a></div>
            </div>
        </li>
        <li class="lucky-card">
            <span class="draw-grade">UR</span>
            <div class="lucky-card-menu">
                <div class="lucky-image-container">
                    <img src="/images/Lucky/Ren.png">
                    <div class="card-overlay">
                        <span class="expiry-date"><i class="fa-solid fa-calendar icon"></i> 2024.06.28 까지</span>
                    </div>
                </div>
                <h4>렌고쿠 쿄주로 피규어</h4>
                <p><i class="fa-solid fa-coins icon"></i>30P</p>
                <div class="apply-button"><a href="/">응모하기</a></div>
            </div>
        </li>
    </ul>
</section>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
