<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>
    <link rel="icon" href="/images/10duck.ico">

    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/LuckyDraw.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/luckyDraw.js"></script>
</head>

<body class="lucky_body">
<div th:insert="~{fragments/header :: header}"></div>
<main id="container" class="lucky_main">

    <div class="lucky_content">
        <ul class="lucky_ul">
            <h2 class="lucky_h2">럭키 드로우</h2>
        </ul>
        <div class="mv-cnt-lucky swiper">
            <ul class="mv-cnt__items swiper-wrapper">
                <li class="swiper-slide">
                    <div class="mv-cnt__img-box">
                        <span class="mv-cnt__img" style="background-image: url(/images/MainCarousel/MainVisual.png);"></span>
                    </div>
                    <div class="mv-cnt__text">
                        <p class="mv-cnt__desc">리뷰와 럭키드로우를 한번에?!</p>
                        <h2 class="mv-cnt__title">진격의 거인</h2>
                        <a href="#none" class="mv-cnt__link">바로가기</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="mv-cnt__img-box">
                        <span class="mv-cnt__img" style="background-image: url(/images/MainCarousel/MainVisual2.png);"></span>
                    </div>
                    <div class="mv-cnt__text">
                        <p class="mv-cnt__desc">머구와 함께하는 지구 지키기 프로젝트</p>
                        <h2 class="mv-cnt__title">머구를 통해 환경을 지켜봐요!</h2>
                        <a href="#none" class="mv-cnt__link">바로가기</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="mv-cnt__img-box">
                        <span class="mv-cnt__img" style="background-image: url(/images/MainCarousel/MainVisual3.png);"></span>
                    </div>
                    <div class="mv-cnt__text">
                        <p class="mv-cnt__desc">머구와 함께하는 지구 지키기 프로젝트</p>
                        <h2 class="mv-cnt__title">머구를 통해 환경을 지켜봐요!</h2>
                        <a href="#none" class="mv-cnt__link">바로가기</a>
                    </div>
                </li>
            </ul>
            <!-- Pagination -->
            <div class="swiper-pagination"></div>

            <!-- Navigation -->
            <div class="swiper-button-next mainFirstSection_swiper-next_btn"></div>
            <div class="swiper-button-prev mainFirstSection_swiper-prev_btn"></div>
        </div>

        <div class="lucky_tab_menu">
            <div class="lucky_tab active" id="tab1">UR</div>
            <div class="lucky_tab" id="tab2">SR</div>
            <div class="lucky_tab" id="tab3">R</div>
            <div class="lucky_tab" id="tab4">N</div>
        </div>
        <div class="lucky_notice">
            <p class="lucky_notice">럭키 드로우 응모는 하루 1번만 가능 합니다!</p>
        </div>
        <div class="tab__content-wrapper">
            <!-- UR Section -->
            <div class="lucky_tab__content active">
                <ul class="lucky_ul">
                    <li class="lucky_draw_item" th:each="item : ${ur.content}">
                        <div class="lucky_ur">UR</div>
                        <div class="lucky_draw_img">
                            <div class="lucky_draw_img_box">
                                <img th:src="@{/image/prize/{imageName}(imageName=${item.imageName})}" alt="">
                            </div>
                        </div>
                        <div class="lucky_draw_info">
                            <div class="lucky_draw_coin">
                                <div class="lucky_draw_icon1">
                                    <i class="fa-solid fa-coins"></i>
                                </div>
                                30P
                            </div>
                            <div class="lucky_draw_date">
                                <div class="lucky_draw_icon2">
                                    <i class="fa-regular fa-calendar-days"></i>
                                </div>
                                <span th:text="${item.endDate}">2024-05-30</span>
                            </div>
                        </div>
                        <div class="lucky_draw_name" th:text="${item.name}">아이언맨</div>
                        <a href="#" class="lucky_draw_button">응모하기</a>
                    </li>
                </ul>
                <div class="myFaq_next">
                    <a class="myFaq_next-button" th:classappend="${ur.hasPrevious()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${ur.number - 1}, type='UR')}">&lt;&lt;</a>
                    <a class="myFaq_next-button" th:classappend="${ur.hasPrevious()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${ur.number - 1}, type='UR')}">&lt;</a>
                    <span th:if="${ur.totalPages > 0}" th:each="i : ${#numbers.sequence(1, ur.totalPages)}">
            <a th:classappend="${i == ur.number + 1} ? 'myFaq_now-button' : 'myFaq_next-button'" th:href="@{/playground/lucky-draw(page=${i - 1}, type='UR')}" th:text="${i}">1</a>
        </span>
                    <span th:if="${ur.totalPages == 0}">
            <a class="myFaq_now-button" href="#">1</a>
        </span>
                    <a class="myFaq_next-button" th:classappend="${ur.hasNext()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${ur.number + 1}, type='UR')}">&gt;</a>
                    <a class="myFaq_next-button" th:classappend="${ur.hasNext()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${ur.number + 1}, type='UR')}">&gt;&gt;</a>
                </div>
            </div>

            <div class="lucky_tab__content">
                <ul class="lucky_ul">
                    <li class="lucky_draw_item" th:each="item : ${sr.content}">
                        <div class="lucky_sr">SR</div>
                        <div class="lucky_draw_img">
                            <div class="lucky_draw_img_box">
                                <img th:src="@{/image/prize/{imageName}(imageName=${item.imageName})}" alt="">
                            </div>
                        </div>
                        <div class="lucky_draw_info">
                            <div class="lucky_draw_coin">
                                <div class="lucky_draw_icon1">
                                    <i class="fa-solid fa-coins"></i>
                                </div>
                                30P
                            </div>
                            <div class="lucky_draw_date">
                                <div class="lucky_draw_icon2">
                                    <i class="fa-regular fa-calendar-days"></i>
                                </div>
                                <span th:text="${item.endDate}">2024-06-28까지</span>
                            </div>
                        </div>
                        <div class="lucky_draw_name" th:text="${item.name}">미츠리 레진 대형 스테츄</div>
                        <a href="#" class="lucky_draw_button">응모하기</a>
                    </li>
                </ul>
                <div class="myFaq_next">
                    <a class="myFaq_next-button" th:classappend="${sr.hasPrevious()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${sr.number - 1}, type='SR')}">&lt;&lt;</a>
                    <a class="myFaq_next-button" th:classappend="${sr.hasPrevious()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${sr.number - 1}, type='SR')}">&lt;</a>
                    <span th:if="${sr.totalPages > 0}" th:each="i : ${#numbers.sequence(1, sr.totalPages)}">
            <a th:classappend="${i == sr.number + 1} ? 'myFaq_now-button' : 'myFaq_next-button'" th:href="@{/playground/lucky-draw(page=${i - 1}, type='SR')}" th:text="${i}">1</a>
        </span>
                    <span th:if="${sr.totalPages == 0}">
            <a class="myFaq_now-button" href="#">1</a>
        </span>
                    <a class="myFaq_next-button" th:classappend="${sr.hasNext()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${sr.number + 1}, type='SR')}">&gt;</a>
                    <a class="myFaq_next-button" th:classappend="${sr.hasNext()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${sr.number + 1}, type='SR')}">&gt;&gt;</a>
                </div>
            </div>

            <div class="lucky_tab__content">
                <ul class="lucky_ul">
                    <li class="lucky_draw_item" th:each="item : ${r.content}">
                        <div class="lucky_r">R</div>
                        <div class="lucky_draw_img">
                            <div class="lucky_draw_img_box">
                                <img th:src="@{/image/prize/{imageName}(imageName=${item.imageName})}" alt="">
                            </div>
                        </div>
                        <div class="lucky_draw_info">
                            <div class="lucky_draw_coin">
                                <div class="lucky_draw_icon1">
                                    <i class="fa-solid fa-coins"></i>
                                </div>
                                30P
                            </div>
                            <div class="lucky_draw_date">
                                <div class="lucky_draw_icon2">
                                    <i class="fa-regular fa-calendar-days"></i>
                                </div>
                                <span th:text="${item.endDate}">2024-06-28까지</span>
                            </div>
                        </div>
                        <div class="lucky_draw_name" th:text="${item.name}">미츠리 레진 대형 스테츄</div>
                        <a href="#" class="lucky_draw_button">응모하기</a>
                    </li>
                </ul>
                <div class="myFaq_next">
                    <a class="myFaq_next-button" th:classappend="${r.hasPrevious()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${r.number - 1}, type='R')}">&lt;&lt;</a>
                    <a class="myFaq_next-button" th:classappend="${r.hasPrevious()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${r.number - 1}, type='R')}">&lt;</a>
                    <span th:if="${r.totalPages > 0}" th:each="i : ${#numbers.sequence(1, r.totalPages)}">
            <a th:classappend="${i == r.number + 1} ? 'myFaq_now-button' : 'myFaq_next-button'" th:href="@{/playground/lucky-draw(page=${i - 1}, type='R')}" th:text="${i}">1</a>
        </span>
                    <span th:if="${r.totalPages == 0}">
            <a class="myFaq_now-button" href="#">1</a>
        </span>
                    <a class="myFaq_next-button" th:classappend="${r.hasNext()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${r.number + 1}, type='R')}">&gt;</a>
                    <a class="myFaq_next-button" th:classappend="${r.hasNext()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${r.number + 1}, type='R')}">&gt;&gt;</a>
                </div>
            </div>

            <div class="lucky_tab__content">
                <ul class="lucky_ul">
                    <li class="lucky_draw_item" th:each="item : ${n.content}">
                        <div class="lucky_n">N</div>
                        <div class="lucky_draw_img">
                            <div class="lucky_draw_img_box">
                                <img th:src="@{/image/prize/{imageName}(imageName=${item.imageName})}" alt="">
                            </div>
                        </div>
                        <div class="lucky_draw_info">
                            <div class="lucky_draw_coin">
                                <div class="lucky_draw_icon1">
                                    <i class="fa-solid fa-coins"></i>
                                </div>
                                30P
                            </div>
                            <div class="lucky_draw_date">
                                <div class="lucky_draw_icon2">
                                    <i class="fa-regular fa-calendar-days"></i>
                                </div>
                                <span th:text="${item.endDate}">2024-06-28까지</span>
                            </div>
                        </div>
                        <div class="lucky_draw_name" th:text="${item.name}">미츠리 레진 대형 스테츄</div>
                        <a href="#" class="lucky_draw_button">응모하기</a>
                    </li>
                </ul>
                <div class="myFaq_next">
                    <a class="myFaq_next-button" th:classappend="${n.hasPrevious()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${n.number - 1}, type='N')}">&lt;&lt;</a>
                    <a class="myFaq_next-button" th:classappend="${n.hasPrevious()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${n.number - 1}, type='N')}">&lt;</a>
                    <span th:if="${n.totalPages > 0}" th:each="i : ${#numbers.sequence(1, n.totalPages)}">
            <a th:classappend="${i == n.number + 1} ? 'myFaq_now-button' : 'myFaq_next-button'" th:href="@{/playground/lucky-draw(page=${i - 1}, type='N')}" th:text="${i}">1</a>
        </span>
                    <span th:if="${n.totalPages == 0}">
            <a class="myFaq_now-button" href="#">1</a>
        </span>
                    <a class="myFaq_next-button" th:classappend="${n.hasNext()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${n.number + 1}, type='N')}">&gt;</a>
                    <a class="myFaq_next-button" th:classappend="${n.hasNext()} ? '' : 'disabled'" th:href="@{/playground/lucky-draw(page=${n.number + 1}, type='N')}">&gt;&gt;</a>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>