<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>

    <!-- Swiper -->
    <link rel="stylesheet" href="/src/main/webapp/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/src/main/webapp/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/src/main/webapp/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/src/main/webapp/css/common.css" />

    <!-- jQuery -->
    <script src="/src/main/webapp/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/src/main/webapp/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/src/main/webapp/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/src/main/webapp/js/common.js"></script>
</head>

<body class="myBookmark_body">
    <header id="header" th:fragment="header">
        <div class="h-inner">
            <!-- Left -->
            <div class="h-left">
                <!-- Logo -->
                <h1 class="h-logo">
                    <a class="navbar-brand" href="/">
                        <img src="/src/main/webapp/images/Logo/logo.png" alt="로고">
                    </a>
                </h1>
                <!-- Search Box -->
                <form action="/search" method="get" class="h-search_box">
                    <input type="text" id="" name="name" class="h-search_bar" />
                    <button type="submit" class="h-search_btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <!-- Right -->
            <div class="h-right">
                <!-- Global Navigation Bar -->
                <ul class="h-gnb_items">
                    <li>
                        <a href="/genre">장르</a>
                    </li>
                    <li>
                        <a href="/community">커뮤니티</a>
                    </li>
                    <li>
                        <a href="/news">소식</a>
                    </li>
                    <li>
                        <a href="/playground">놀이터</a>
                    </li>
                    <!-- Alarm Dropdown -->
                    <div class="h-alarm">
                        <div class="h-alarm_btn" sec:authorize="isAuthenticated()">
                            <li>
                                <a href="#none">
                                    알림
                                    <!-- <span class="h-alarm_count">12</span> -->
                                </a>
                            </li>
                        </div>

                        <div class="h-alarm_btn" sec:authorize="!isAuthenticated()">
                            <li>
                                <a href="/login" style="color: var(--mainColor)">
                                    로그인
                                    <!-- <span class="h-alarm_count">12</span> -->
                                </a>
                            </li>
                        </div>
                    </div>
                </ul>
                <!-- Profile -->
                <div class="h-profile_box">
                    <!-- Profile Btn -->
                    <div class="h-profile" sec:authorize="isAuthenticated()">
                        <div>
                            <img class="h-mobile_profile-img" th:src="${session.profileImageName != null} ? @{/image/{profileImageName}(profileImageName=${session.profileImageName})} : @{/image/{levelImageName}(levelImageName=${session.levelImageName})}" />
                        </div>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <!-- Profile Menu -->
            </div>
        </div>

        <!-- Mobile -->
        <div class="h-mobile">
            <!-- Open Btn -->
            <button class="h-mobile_btn-open">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="h-mobile_box">
                <!-- Close Btn -->
                <button class="h-mobile_btn-close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <!-- Mobile Menu -->
                <div class="h-mobile_menu_box">
                    <!-- Logo -->
                    <div class="h-logo mobile-logo">
                        <a href="/">
                            <img src="/images/Logo/logo.png" alt="로고">
                        </a>
                    </div>
                    <!-- Mobile Profile (비로그인 시, 주석) -->
                    <ul class="h-mobile_profile-gnb">
                        <li>
                            <div class="h-mobile_profile-box" sec:authorize="isAuthenticated()">
                                <div class="h-mobile_profile">
                                    <div>
                                        <img class="h-mobile_profile-img" th:src="${session.profileImageName != null} ? @{/image/{profileImageName}(profileImageName=${session.profileImageName})} : @{/image/{levelImageName}(levelImageName=${session.levelImageName})}" />
                                    </div>
                                    <strong href="/myPage" class="h-mobile_profile-nickname" th:value="${session.nickname}">UserNickname</strong>
                                </div>
                                <div class="h-mobile_profile_exp_box">
                                    <div class="h-mobile_profile_level-point">
                                        <span class="h-mobile_profile_level" th:text="Lv. + ${session.level}"></span>
                                        <div class="h-mobile_profile_point">
                                            <i class="fa-solid fa-coins"></i>
                                            <span th:text="${session.point}"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h-mobile_profile_exp_point">16 / 20 EXP</span>
                                    </div>
                                    <div class="h-mobile_profile_menu_exp">
                                        <span class="h-mobile_profile_exp_track"></span>
                                        <span class="h-mobile_profile_exp_thumb" style="width: 80%;"></span>
                                    </div>
                                </div>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <ul class="h-mobile_profile-lnb" sec:authorize="isAuthenticated()">
                                <div class="h-mobile_alarm">
                                    <div class="h-mobile_alarm-btn">
                                        <li>
                                            <a href="#none">
                                                알림
                                                <!-- <span class="h-mobile_alarm_count">12</span> -->
                                            </a>
                                        </li>
                                    </div>
                                    <ul class="h-mobile_alarm-list">
                                        <!-- Alarm X -->
                                        <li>
                                            <a href="#none">알림이 없습니다.</a>
                                        </li>
                                        <!-- Alarm O -->
                                        <li>
                                            <a href="#none">
                                                ~~ 게시글에 ~~ 님이 새로운 댓글을 등록하였습니다.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none">
                                                ~~ 건의에 대한 답변이 등록되었습니다.
                                            </a>
                                        </li>
                                        <!-- 리스트 추가 시, 양식대로 추가
                                        <li>
                                            <a href="#none">
            
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                                <li>
                                    <a href="/mypage">마이페이지</a>
                                </li>
                                <li>
                                    <a href="/logout">로그아웃</a>
                                </li>
                            </ul>
                            <!-- Mobile Menu Default -->
                            <ul class="h-mobile_menu">
                                <li>
                                    <a href="/genre">장르</a>
                                </li>
                                <li>
                                    <a href="/community">커뮤니티</a>
                                </li>
                                <li>
                                    <a href="/news">소식</a>
                                </li>
                                <li>
                                    <a href="/playground">놀이터</a>
                                </li>
                            </ul>
                            <!-- Before Login Menu -->
                            <ul class="h-mobile_sign">
                                <li>
                                    <a class="nav-link" href="/login">로그인</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main id="container" class="myBookmark_main">
        <div class="myBookmark_head-title">
            <h2 class="myBookmark_h2">나의 북마크</h2>
        </div>
        <div class="myBookmark_menulist">
            <div class="myBookmark_menu">
                <ul>
                    <li class="myBookmark_menuli">
                        <a href="">나의 리뷰</a>
                    </li>
                    <div class="myBookmark_line"></div>
                    <li class="myBookmark_menuli">
                        <a href="">나의 게시글</a>
                    </li>
                    <div class="myBookmark_line"></div>
                    <li class="myBookmark_menuli">
                        <a href="">나의 건의 내역</a>
                    </li>
                    <div class="myBookmark_line"></div>
                    <li class="myBookmark_menuli">
                        <a href="" class="myBookmark_now">나의 북마크</a>
                    </li>
                </ul>
            </div>

            <ul class="myBookmark_ul">
                
                <div class="myBookmark_line3"></div>

                <li class="myBookmark_post">
                    <div class="myBookmark_result_title">
                        <a href="">호날두</a>
                    </div>
                    <div class="myBookmark_result_content" data-max-length="200">
                        오늘부로 호날두지지를 철회한다

                        오늘부터 지지관계에서 벗어나
                        호날두와 나는 한몸으로 일체가 된다
                        호날두에 대한 공격은 나에 대한 공격으로 간주한다

                        세상에 70억 명의 호날두 팬이 있다면, 나는 그들 중 한 명일 것이다.
                        세상에 1억 명의 호날두 팬이 있다면, 나 또한 그들 중 한 명일 것이다.
                        세상에 천만 명의 호날두 팬이 있다면, 나는 여전히 그들 중 한 명일 것이다.
                        세상에 백 명의 호날두 팬이 있다면, 나는 아직도 그들 중 한 명일 것이다.
                        세상에 한 명의 호날두 팬이 있다면, 그 사람은 아마도 나일 것이다.
                        세상에 단 한 명의 호날두팬도 없다면, 나는 그제서야 이 세상에 없는 것이다.

                        호날두, 나의 사랑.
                        호날두, 나의 빛.
                        호날두, 나의 어둠.
                        세상에 70억 명의 호날두 팬이 있다면, 나는 그들 중 한 명일 것이다.
                        세상에 1억 명의 호날두 팬이 있다면, 나 또한 그들 중 한 명일 것이다.
                        세상에 천만 명의 호날두 팬이 있다면, 나는 여전히 그들 중 한 명일 것이다.
                        세상에 백 명의 호날두 팬이 있다면, 나는 아직도 그들 중 한 명일 것이다.
                        세상에 한 명의 호날두 팬이 있다면, 그 사람이 나다.
                        세상에 단 한 명의 호날두 팬도 없다면, 나는 그제서야 이 세상에 없는 것이다.
                        호날두, 나의 삶.
                        호날두, 나의 기쁨.
                        호날두, 나의 슬픔.
                        호날두, 나의 안식.
                        호날두, 나의 영혼.
                        호날두, 나.
                    </div>
                    <div class="myBookmark_line3"></div>
                </li>
            </ul>

            <div class="myBookmark_next">
                <a class="myBookmark_next-button" th:classappend="${requestPage.first} ? 'disabled' : ''" th:href="@{/myPage/request-list(page=${requestPage.number - 1})}">&lt;&lt;</a>
                <a class="myBookmark_next-button" th:classappend="${requestPage.first} ? 'disabled' : ''" th:href="@{/myPage/request-list(page=${requestPage.number - 1})}">&lt;</a>
                <span th:each="i : ${#numbers.sequence(1, requestPage.totalPages)}">
                    <a th:classappend="${i == requestPage.number + 1} ? 'myBookmark_now-button' : 'myBookmark_next-button'" th:href="@{/myPage/request-list(page=${i - 1})}" th:text="${i}">1</a>
                </span>
                <a class="myBookmark_next-button" th:classappend="${requestPage.last} ? 'disabled' : ''" th:href="@{/myPage/request-list(page=${requestPage.number + 1})}">&gt;</a>
                <a class="myBookmark_next-button" th:classappend="${requestPage.last} ? 'disabled' : ''" th:href="@{/myPage/request-list(page=${requestPage.number + 1})}">&gt;&gt;</a>
            </div>
        </div>
    </main>
    <div th:insert="~{fragment/footer :: footer}"></div>
    <script>
        // 게시글 길이 길면 더보기 표시ㅋㅋ
        document.querySelectorAll('.myBookmark_result_content').forEach(function (item) {
            const maxLength = parseInt(item.getAttribute('data-max-length'));
            const text = item.textContent.trim();

            if (text.length > maxLength) {
                item.textContent = text.slice(0, maxLength) + ' . . . 더보기';
            }
        });


    </script>
</body>
</html>
