<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/myPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Who's DucKing</title>
    <link rel="icon" href="/images/10duck.ico">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="my-page">
    <div class="content-section">
        <div class="section-title">내 프로필</div>
        <div class="profile-section">
            <div class="profile-box">
                <div class="profile-info">
                    <div class="profile-image">
                        <img class="profile-img"
                             th:if="${loginUser.profileImage != null}"
                             th:src="@{'/image/profile/' + ${loginUser.profileImage.storeImageName}}"
                             alt="Profile Image"/>
                        <img class="profile-img"
                             th:unless="${loginUser.profileImage != null}"
                             th:src="@{'/image/level/' + ${loginUser.level.imageName}}"
                             alt="Level Image"/>
                    </div>
                    <div class="nickname" th:text="${loginUser.getNickname()}"></div>
                </div>
                <a class="modify-button" th:href="@{/myPage/{userId}/edit(userId=${loginUser.getId()})}">프로필 수정</a>
            </div>
            <div class="profile-details">
                <div class="points-exp">
                    <div class="level" th:text="'Lv.' + ${loginUser.getLevel().getId()}"></div>
                    <div class="points">
                        <i class="fa-solid fa-coins icon"></i>
                        <span th:text="${loginUser.getPoint()} + 'P'"></span>
                        <div class="exp" th:text="${loginUser.getCurrentExp()} + ' / ' + ${loginUser.getLevel().getMaxExp()} + 'XP'">
                        </div>
                    </div>
                </div>
                <div class="exp-bar">
                    <div class="exp-bar-inner" th:style="'width:' + (${loginUser.getLevel().getMaxExp()} > 0 ? (${loginUser.getCurrentExp()} / ${loginUser.getLevel().getMaxExp()} * 100) : 0) + '%;'"></div>
                </div>
            </div>
        </div>
        <hr class="line"/>
        <div class="section">
            <div class="section-title">📝 나의 글 목록</div>
            <ul class="section-content">
                <li class="content-item">
                    <i class="fa-regular fa-comment icon"></i>
                    <div>나의 리뷰</div>
                </li>
                <li class="content-item">
                    <i class="fa-regular fa-clipboard icon"></i>
                    <div>나의 게시글</div>
                </li>
                <li class="content-item">
                    <i class="fa-regular fa-flag icon"></i>
                    <div><a href="/myPage/request-list">나의 건의 내역</a></div>
                </li>
                <li class="content-item">
                    <i class="fa-regular fa-bookmark icon"></i>
                    <div>나의 북마크</div>
                </li>
            </ul>
        </div>
        <hr class="line"/>
        <div class="section">
            <div class="section-title">📝 이벤트</div>
            <ul class="section-content">
                <li class="content-item">
                    <i class="fa-solid fa-clover icon"></i>
                    <div>럭키 드로우 응모내역</div>
                </li>
                <li class="content-item">
                    <i class="fa-solid fa-store icon"></i>
                    <div>팝업 스토어 북마크</div>
                </li>
            </ul>
        </div>
        <hr class="line"/>
        <div class="section">
            <div class="section-title">📝 고객센터</div>
            <ul class="section-content">
                <li class="content-item">
                    <i class="fa-solid fa-bullhorn icon"></i>
                    <div>공지사항</div>
                </li>
                <li class="content-item">
                    <i class="fa-regular fa-comments icon"></i>
                    <div>자주 묻는 질문</div>
                </li>
                <li class="content-item">
                    <i class="fa-solid fa-user-slash icon"></i>
                    <div class="user-delete-button"><a href="/myPage/account-deletion">계정 삭제</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
