<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/genre.css">
    <script src="/js/registerGenre.js"></script>
    <title>애니 장르 선택</title>
</head>
<body>
<div th:insert="~{fragment/header :: header}"></div>

    <form action="/register" method="post">
        <div class="genre-selection">
            <div class="genre-container">
                <div class="genre-header">
                    <div class="genre-title">애니 장르 선택</div>
                    <div class="genre-subtitle">중복 선택 가능</div>
                </div>
                <div class="genre-list">
                    <div class="genre-row">
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="액션"> 액션</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="먼치킨"> 먼치킨</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="추리/미스테리"> 추리/미스테리</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="스포츠"> 스포츠</label>
                        </div>
                    </div>
                    <div class="genre-row">
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="마법"> 마법</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="개그"> 개그</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="일상"> 일상</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="순정"> 순정</label>
                        </div>
                    </div>
                    <div class="genre-row">
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="판타지"> 판타지</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="학원"> 학원</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="힐링"> 힐링</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="시대"> 시대</label>
                        </div>
                    </div>
                    <div class="genre-row">
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="메이드"> 메이드</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="츤데레"> 츤데레</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="얀데레"> 얀데레</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="러브"> 러브</label>
                        </div>
                    </div>
                    <div class="genre-row">
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="BL"> BL</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="철학"> 철학</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="하렘"> 하렘</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="역하렘"> 역하렘</label>
                        </div>
                    </div>
                    <div class="genre-row">
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="백합"> 백합</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="호러"> 호러</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="아동"> 아동</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="가상"> 가상</label>
                        </div>
                    </div>
                    <div class="genre-row">
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="멘붕"> 멘붕</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="메카"> 메카</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="능력자"> 능력자</label>
                        </div>
                        <div class="genre-item">
                            <label><input type="checkbox" name="genres" value="쇼타"> 쇼타</label>
                        </div>
                    </div>
                </div>
                <div class="genre-submit">
                    <button class="submit-btn" type="submit">회원가입</button>
                </div>
            </div>
        </div>
    </form>

    <div th:insert="~{fragment/footer :: footer}"></div>
</body>
</html>