<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Who's DucKing</title>

    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css" />
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css" />
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common.css" />
<!--    <link rel="stylesheet" href="/css/ReviewBoard.css" />-->
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/2f3ee9d12e.js"
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/ReviewBoard.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <div th:insert="~{fragments/header :: header}"></div>
    <div class="sticky-container">
      <h1 class="page-title">커뮤니티</h1>
      <div class="side-container">
        <button class="side-container-button" id="review-board">
          리뷰 게시판
        </button>
        <hr />
        <button class="side-container-button" id="free-board">
          자유 게시판
        </button>
      </div>
    </div>
    <div class="community-container">
      <img src="/images/aki.png" alt="왼쪽 배경이미지" class="left-img" />
      <!-- 리뷰 게시판 클릭시 나타날 애니 리스트 : 이미지, 좋아요, 별점 -->
      <div class="ani-list-container">
        <div class="row-list-container">
          <div class="ani-info-container">
            <div class="img-container">
            <img
              src="https://my-udong-mate.s3.ap-northeast-2.amazonaws.com/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            </div>
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <!-- 임시 간격 설정 시작 -->
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <!-- End:  row box div 임시 간격 -->
          <!-- Start: colum list 임시 간격 -->
        </div>
        <div class="row-list-container">
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
        </div>
        <div class="row-list-container">
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
        </div>
        <div class="row-list-container">
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <div class="ani-info-container">
            <img
              src="./images/cyberpunk.jpeg"
              alt="애니 포스터"
              class="ani-poster"
            />
            <div class="recommend-container">
              <i class="fa-regular fa-thumbs-up"> 1,580</i>
              <i class="fa-solid fa-star"> 4.7 / 5.0</i>
            </div>
          </div>
          <!-- End: column box div 임시 간격 -->
        </div>
        <div class="page-btn-box">
          <i class="fa-solid fa-angles-left page-btn"></i>
          <i class="fa-solid fa-angle-left page-btn"></i>
          <span class="page-number page-btn">0</span>
          <i class="fa-solid fa-angle-right page-btn"></i>
          <i class="fa-solid fa-angles-right page-btn"></i>
        </div>
        <div th:insert="~{fragments/footer :: footer}"></div>
      </div>
    </div>
  </body>
</html>
