/* 배경 이미지 추가 */
.freeBoard_background_img {
    background-image: url('/images/Background_Image/eren.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

#board-container {
    padding-top: 80px;
}

.free-board {
    background: transparent;
    position: relative;
    overflow: visible;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.subCommon-freeBoard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 100px;
}

.sub_title {
    color: #ff8b00;
    font-size: 48px;
    font-weight: bold;
    margin-left: 20px;
}

.sort-option-box {
    display: flex;
    align-items: center;
}

.sort-options {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    display: flex;

}

.sort-option {
    margin-left: 10px;
}

.sort-option a {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 6px 15px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    border: 1px solid #d9d9d9;
}

.sort-option a:hover {
    background-color: #d9d9d9;
}

.sort-option.selected a {
    background-color: #ff8b00;
    border: 1px solid #ff8b00;
    color: #fff;
}

.main_section {
    display: flex;
    flex-direction: column;
}

.free-board-board-list {
    flex: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: 10px solid #FFC60B;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.08);
    overflow: hidden; /* border-radius 문제 해결을 위해 추가 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 조정 */
}

.board-list-top {
    display: flex;
    background-color: #FFEFD5;
    padding: 20px;
    font-weight: bold;
}

.board-list-top span {
    flex: 1;
    text-align: center;
    color: #ff8b00;
    font-size: 24px;
}

.board-list-separator {
    border-top: 5px solid #FFC60B;
}

.board-list-bot-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.board-list-bot-items li {
    display: flex;
    padding: 15px;
    border-bottom: 2px solid #FFC60B;
}

.board-list-bot-items li:hover {
    background-color: #FEFFDB;
}

.board-list-bot-items li span {
    flex: 1;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.board-list-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /*... 스타일*/
    display: block;
    max-width: 300px; /* 제목 열 넓이 설정 값에 따라 ... 여부 달라짐*/
}

.board-list-bot-items li a:hover {
    color: #ff8b00;
}

.free-board-write-button {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽 끝으로 정렬 */
    margin: 20px 10px;
}

.free-board-write-button a {
    width: 100px; /* 버튼의 너비 */
    height: 45px; /* 버튼의 높이 */
    border-radius: 20px; /* 버튼 테두리 반경 */
    border: 1px solid rgba(255, 139, 0, 0.349); /* 테두리 색상 */
    background-color: #FF8B00; /* 버튼 배경 색상 */
    display: flex; /* 아이콘과 텍스트를 가로로 정렬 */
    align-items: center; /* 아이콘과 텍스트를 수직으로 가운데 정렬 */
    justify-content: center; /* 내용 가운데 정렬 */
    cursor: pointer; /* 커서 포인터 */
    transition-duration: 0.3s; /* 전환 효과 시간 */
    overflow: hidden; /* 내용 오버플로우 숨기기 */
    text-decoration: none; /* 텍스트 밑줄 제거 */
    color: white; /* 텍스트 색상 */
    font-size: 1.04em; /* 텍스트 크기 */
    padding: 0; /* 내부 여백 제거 */
}

.free-board-Icon {
    width: 30px; /* 아이콘 컨테이너 너비 */
    height: 30px; /* 아이콘 컨테이너 높이 */
    background: linear-gradient(to bottom, #FF8B00, #E07B00); /* 배경 그라데이션 */
    border-radius: 50px; /* 테두리 반경 */
    display: flex; /* 아이콘을 가운데 정렬 */
    align-items: center; /* 아이콘을 수직 가운데 정렬 */
    justify-content: center; /* 아이콘을 가로 가운데 정렬 */
    overflow: hidden; /* 내용 오버플로우 숨기기 */
    z-index: 2; /* z-index 설정 */
    transition-duration: 0.3s; /* 전환 효과 시간 */
}

.free-board-text {
    height: 100%; /* 텍스트 높이 */
    width: 60px; /* 텍스트 너비 */
    display: flex; /* 텍스트를 가운데 정렬 */
    align-items: center; /* 텍스트를 수직 가운데 정렬 */
    justify-content: center; /* 텍스트를 가로 가운데 정렬 */
    color: white; /* 텍스트 색상 */
    z-index: 1; /* z-index 설정 */
    transition-duration: 0.3s; /* 전환 효과 시간 */
    font-size: 1.04em; /* 텍스트 크기 */
}

.free-board-write-button a:hover .free-board-Icon {
    width: 90px; /* 호버 시 아이콘 컨테이너 너비 */
    transition-duration: 0.3s; /* 전환 효과 시간 */
}

.free-board-write-button a:hover .free-board-text {
    transform: translate(10px); /* 텍스트 이동 */
    width: 0; /* 텍스트 너비 */
    font-size: 0; /* 텍스트 크기 */
    transition-duration: 0.3s; /* 전환 효과 시간 */
}

.free-board-write-button a:active {
    transform: scale(0.95); /* 클릭 시 버튼 크기 축소 */
    transition-duration: 0.3s; /* 전환 효과 시간 */
}

    .free-board-pagination {
        width: 424px;
        height: 150px;
        gap: 20px;
        display: flex;
        margin: 0 auto;
        padding: 4rem 0;
    }

    .free-board-pagination-move-button {
        width: 54px;
        height: 54px;
        border-radius: 100px;
        background-color: #feffdb;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }

    .free-board-pagination-now-button {
        width: 54px;
        height: 54px;
        border-radius: 100px;
        background-color: #ffc60b;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }

    .free-board-disabled {
        pointer-events: none;
        color: grey;
    }
    .background-image {
        position: fixed;
        bottom: 0;
        left: 200px;
        max-width: 20%;
        height: auto;
        z-index: -100;
    }
