.create-board-form-container {
    max-width: 600px;
    margin: 90px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create-board-form-container h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #ff8b00;
}

.create-form-group {
    margin-bottom: 20px;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.create-form-group label {
    display: flex;
    text-align:center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff8b00;
}

.create-file-label-title{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff8b00;
}

.create-form-group input[type="text"],
.create-form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.create-form-group textarea {
    height: 150px;
}

.create-image-preview-container {
    position: relative;
    display: inline-block;
}

.create-board-img {
     max-width: 500px;
        height: 400px;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}

.create-delete-image-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    background-color: #FFC60B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-delete-image-button:hover {
    background-color: red;
}

.create-board-create-button {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #ff8b00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-board-create-button:hover {
    background-color: #e67e00;
}
.create-board-create-button-reset {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #FFC60B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.create-board-create-button-reset:hover {
    background-color: #444444;
}
.create-file-button-container {
    text-align: center;
}

.create-file-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8b00;
    margin-bottom:20px;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.create-file-button:hover {
    background-color: #e67e00;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.create-board-write-file-input {
    display: none;
}

.create-file-name {
    margin-top: 10px;
    font-size: 20px;
    color: #555;
}
.create-button-bottom{
    display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
}

