.recentFreeBoard_backgroundImage {
    background-image: url("/images/Background_Image/eren.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Title & Sort Option */
.recentFreeBoard_title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.recentFreeBoard_sort_option_list {
    display: flex;
    gap: 1.5rem;
}

.recentFreeBoard_sort_new_option {
    background-color: #fff;
    color: #000;
}

.recentFreeBoard_sort_new_option,
.recentFreeBoard_sort_viewCount_option {
    text-align: center;
    border-radius: 2rem;
    padding: 0.4rem 1.5rem;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recentFreeBoard_sort_new_option:hover,
.recentFreeBoard_sort_viewCount_option:hover {
    background-color: var(--mainColor);
    color: #fff;
    border: 1px solid var(--mainColor);
}

.recentFreeBoard_sort_new_option:hover a,
.recentFreeBoard_sort_viewCount_option:hover a {
    color: #fff;
}

.recentFreeBoard_sort_new_option.active,
.recentFreeBoard_sort_viewCount_option.active {
    background-color: var(--mainColor);
}

.recentFreeBoard_sort_new_option.active a,
.recentFreeBoard_sort_viewCount_option.active a {
    color: #fff;
}

.recentFreeBoard_sort_new_option:not(.active),
.recentFreeBoard_sort_viewCount_option:not(.active) {
    background-color: #fff;
}

.recentFreeBoard_sort_new_option:not(.active) a,
.recentFreeBoard_sort_viewCount_option:not(.active) a {
    color: var(--mainColor);
}

/* Contents */
.recentFreeBoard_box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.recentFreeBoard_list {
    flex: 1;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.recentFreeBoard_list_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recentFreeBoard_list_top_items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem;
    border-bottom: 3px solid #d9d9d9;
}

.recentFreeBoard_list_top span {
    flex: 1;
    text-align: center;
    color: var(--mainColor);
    font-size: 2.4rem;
    font-weight: 700;
    border-left: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
}

.recentFreeBoard_list_top span:first-child {
    border-left: none;
}

.recentFreeBoard_list_top span:last-child {
    border-right: none;
}

.recentFreeBoard_list_bottom_items {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recentFreeBoard_list_bottom_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem;
    border-bottom: 3px solid #d9d9d9;
}

.recentFreeBoard_list_bottom_item:hover {
    background-color: var(--primaryColor);
}

.recentFreeBoard_list_bottom_item span {
    flex: 1;
    text-align: center;
    color: #000;
    font-size: 2rem;
    font-weight: 500;
}

.recentFreeBoard_list_bottom_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    max-width: 200px;
}

.recentFreeBoard_list_bottom_item a:hover {
    color: var(--mainColor);
    cursor: pointer;
}

/* Bottom */
/* Pagination */
.recentFreeBoard_pagination_box {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.recentFreeBoard_pagination_box > a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--mainColor);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid var(--mainColor);
    transition: 0.3s;
}

.recentFreeBoard_pagination_box > a.active {
    background: var(--mainColor);
    color: #fff;
}

.recentFreeBoard_pagination_box > a:hover {
    background: var(--mainColor);
    color: #fff;
    cursor: pointer;
}

.recentFreeBoard_pagination_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    width: 32px;
    height: 32px;
    background: #fff;
    color: var(--mainColor);
    border-radius: 100%;
    border: 1px solid var(--mainColor);
}

.recentFreeBoard_pagination_btn:hover {
    background-color: var(--mainColor);
    color: #fff;
    cursor: pointer;
}

.recentFreeBoard_pagination_btn:hover > i {
    color: #fff;
}

.recentFreeBoard_pagination_btn > i {
    color: var(--mainColor);
}

.recentFreeBoard_pageNum {
    display: flex;
}

.recentFreeBoard_pagination_now_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    width: 32px;
    height: 32px;
    background: var(--mainColor);
    color: #fff;
    border-radius: 100%;
    border: 1px solid var(--mainColor);
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: grey;
}

/* Write Button */
.recentFreeBoard_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.recentFreeBoard_write_btn {
    position: absolute;
    right: 0;
    margin: 2rem 1rem;
    padding-top: 6rem;
}

.recentFreeBoard_write_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    padding: 0;
    border-radius: 2rem;
    border: 1px solid rgba(255, 139, 0, 0.349);
    background-color: #ff8b00;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

.recentFreeBoard_write_btn_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, var(--mainColor), #e07b00); /* 배경 그라데이션 */
    border-radius: 5rem;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
}

.recentFreeBoard_write_btn_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    color: #fff;
    font-size: 1.6rem;
    z-index: 1;
    transition-duration: 0.3s;
}

.recentFreeBoard_write_btn a:hover .recentFreeBoard_write_btn_icon {
    width: 90px;
    transition-duration: 0.3s;
}

.recentFreeBoard_write_btn a:hover .recentFreeBoard_write_btn_text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;
}

.recentFreeBoard_write_btn a:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
}

