.bookmark-icon {
    font-size: 24px;
    cursor: pointer;
    color: #FF8B00;
}

.bookmark-icon.fa-solid {
    color: #FFC60B;
}

.board-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board-container-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.board-container-title {
    font-size: 45px;
    color: #ff8b00;
    margin-bottom: 20px;
    margin-right: 1150px;
}

.board-title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.board-title-line span {
    font-size: 40px;
}

.board-title {
    color: #FF8B00;
    margin-right: 60px;
    font-weight: bold;
}

.board-menu-toggle {
    cursor: pointer;
    font-size: 30px;
    color: #c9c9c9;
}

.board-menu-toggle:hover {
    color: #000;
}

.board-author {
    font-size: 35px;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
}

#board-menu {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    padding: 10px;
}

#board-menu .menu-item {
    display: block;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#board-menu .menu-item:hover {
    background-color: #f0f0f0;
}

.comment-section-orange-line {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto 20px;
    border: none;
    height: 6px;
    border-radius: 20px;
    background-color: #ff8b00;
}

.board-meta {
    color: #888;
    text-align: end;
}

.board-date {
    font-size: 20px;
    margin-right: 10px;
}

.board-content {
    color:#000;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 2;
    text-align: center
}

.form-group {
    text-align: center;
    margin-bottom: 20px;
}

.board-img {
    max-width: 500px;
    height: 400px;
}

.board-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.board-actions button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.btn-primary {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    background-color: green;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: blue;
}

.btn-danger {
    background-color: #FFC60B;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: red;
}
.secondary-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
            max-width: 1400px;
            margin: 0 auto;
}
.btn-secondary {
    font-size: 20px;
    margin: 10px 0;
    padding: 8px 16px;
    width: 120px;
    border-radius: 15px;
    background-color: #FF8B00;
    color: #fff;
    margin-left:20px;
    margin-top:50px;
}
.btn-secondary i {
    margin-right: 15px;
}
.btn-secondary:hover {
    background-color: #FFC60B;
}

.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-count-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    margin-top: 40px;
    width: 100%;
    max-width: 1310px;
}

.comment-count-icon {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: visible;
}

.comment-count {
    color: #000000;
    text-align: center;
    font-family: "JejuGothic-Regular", sans-serif;
    font-size: 48px;
    line-height: 168%;
    font-weight: 400;
    position: relative;
}

.comment-container {
    width: 100%;
    max-width: 1310px;
    margin-top: 70px;
}

.comment-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-input {
    width: 100%;
    max-width: 1370px;
    height: 250px;
    padding: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    resize: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.comment-input-footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    padding:0 50px;
}

.char-counter {
    font-size: 20px;
    color: #888;
    margin-right: 10px;
    margin-bottom: 20px;
}

.comment-submit {
    width: 100px;
    height: 50px;
    padding: 10px 20px;
    background-color: #FF8B00;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.comment-submit:hover {
    background-color: #ffc54f;
}

.comment-list {
    margin-top: 70px;
    list-style-type: none;
    padding: 0;
}

.comment-item {
    border-top: 1px solid #d9d9d9;
    padding: 10px 20px;
    margin-bottom: 10px;
    position: relative;
}

.comment-content {
     display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
}

.comment-writer {
    flex:1;
    font-weight: bold;
    font-size: 35px;
    color: #000;
}

.comment-writer-result {
    font-size: 25px;
    color: #000;
}

.comment-meta {
    display: flex;
    align-items: center;
    color: #666;
    gap: 10px;
    justify-content: flex-end;
}

.comment-likes,
.comment-dislikes {
    width: 100px;
    background: none;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.comment-likes.liked {
    background-color: deepskyblue;
    color: blue;
}
.comment-likes:hover{
    background-color: deepskyblue;
    color: #fff;
     animation: shake 0.2s linear 1;
}
.button:hover::before {
  translate: 0 0;
}
@keyframes shake {
  0% {
    rotate: 0deg;
  }

  33% {
    rotate: 10deg;
  }

  66% {
    rotate: -10deg;
  }

  100% {
    rotate: 10deg;
  }
}
.comment-dislikes:hover{
    background-color: red;
    color: #fff;
     animation: shake 0.2s linear 1;
}
.button:hover::before {
  translate: 0 0;
}

.comment-dislikes.disliked {
    background-color: red;
    color: orange;
}


.comment-menu {
   display: none;
       position: absolute;
           background: white;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
           border-radius: 10px;
           z-index: 1000;
           padding: 10px;
           display: none;
           right: 20px;
           top: 30px;
}

.comment-menu .menu-item {
    display: block;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.comment-menu .menu-item:hover {
    background-color: #f0f0f0;
}
.show-hr-line{
    width: 100%;
        margin: 20px auto;
        border: none;
        height: 5px;
        border-radius: 3px;
        background-color: #FFC60B;
}

.edit-board-content{
   width:300px;
   border: 2px solid #FFC60B;
}
.comment-menu-header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
}

.comment-menu-header .fa-xmark {
    cursor: pointer;
    font-size: 20px;
    color: #c9c9c9;
}

.comment-menu-header .fa-xmark:hover {
    color: #000;
}

.comment-date {
    font-size: 20px;
    color: #888;
    margin-top: 30px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}