/*@keyframes fadeInOut {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

.review-body {
    width: 87.5rem; /* 1400px */
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.row-box {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
}

/*///////////// 스포일러 버튼 ///////////////*/
.check-spoiler {
    display: none;
}

.check-switch {
    width: 5rem;
    height: 1.875rem;
    display: block;
    position: relative;
    border-radius: 1.875rem;
    background-color: #d9d9d9;
    box-shadow: 0 0 1rem 0.1875rem rgba(0 0 0 / 15%);
    transition: background 0.5s ease;
    cursor: pointer;
    margin: 1.875rem;
}

.check-switch .change-check-btn {
    width: 3.125rem;
    height: 3.125rem;
    box-shadow: 0.1875rem 0.1875rem 0.1875rem gray;
    position: absolute;
    top: 50%;
    left: -1.5rem;
    transform: translateY(-50%);
    transition: left 0.3s ease, background 0.3s ease;
    border: 0.0625rem solid #d9d9d9;
    border-radius: 50%;
    background: #ffffff;
}

#check-spoiler:checked ~ .check-switch {
    background: #ff8b00;
}

#check-spoiler:checked ~ .check-switch .change-check-btn {
    left: calc(100% - 2.5rem);
    background: #fff;
}

#show-spoiler:checked ~ .check-switch {
    background: #ff8b00;
}

#show-spoiler:checked ~ .check-switch .change-check-btn {
    left: calc(100% - 2.5rem);
    background: #fff;
}

.check-spoiler {
    width: 1.875rem;
}

.spoiler-btn {
    width: 3.75rem;
    height: 1.875rem;
}

/* //////////////////////// Body 시작 //////////////////////*/
.page-title {
    color: #ff8b00;
    margin-top:10rem;
    text-align: left;
}

.ani-container {
    display: flex;
    justify-content: space-around;
    border-top: 0.3125rem solid #ff8b00;
    border-bottom: 0.3125rem solid #ff8b00;
    padding: 1.875rem;
}

.page-title {
    font-size: 3.125rem;
}

.ani-img {
    width: 34.625rem;
    height: 48.125rem;
    border-radius: 0.625rem;
    box-shadow: 0.0625rem 0.1875rem 0.1875rem 0.25rem rgb(177, 177, 177);
}

.title-bar {
    display: flex;
    width: 37.5rem;
    justify-content: space-between;
    align-items: center;
}

.ani-info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ani-title-box {
    font-size: 3rem;
    position: relative;
}

.ani-title {
    width: 10.6875rem;
    height: 4.0625rem;
}

.is-complete {
    width: 6.25rem !important;
    background-color: #ff8b00;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    height: 3.125rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    margin-left: 1.25rem;
    box-shadow: 0.1875rem 0.1875rem 0.1875rem gray;
}

.grade {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
}

.tag-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.tags{
    display: flex;
}

.tag-name {
    margin: 0 0.625rem;
    text-align: center;
    font-size: 1.5625rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    border: 0.0625rem solid rgb(225, 225, 225);
    box-shadow: 0 0.1875rem 0.1875rem gray;
}

.ani-info-box2 {
    display: flex;
    justify-content: space-between;
    font-size: 2.25rem;
}

.synopsis {
    width: 38.5rem;
    height: 21.75rem;
    font-size: 1.5rem;
    line-height: 210%;
    margin-bottom: 1.25rem;
    overflow:auto;
    scrollbar-width: thin;
    scrollbar-color: #FFF transparent ;
}

/* //////// 별점 //////// */

.score-box {
    width: 100%;
    height: 3.75rem;
    font-size: 2.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-star {
    margin-right: 0.625rem;
    color: #ff8b00;
}

.review-count {
    font-size: 3rem;
    padding: 2rem 4.375rem;
    display: flex;
    align-items: center;
}

.review-comment-icon {
    color: rgb(145, 216, 228);
}

/* ///////// 리뷰 작성 폼 //////// */
.write-box {
    position: relative;
    width: 81.25rem;
    height: 19.75rem;
    border: 0.0625rem solid #d9d9d9;
    border-radius: 1.25rem;
    padding: 1rem 2rem;
    background-color: white;
    margin: 0 auto;
}

.check-switch {
    font-size: 1.75rem;
}

.review-content{
    border: none;
    font-size: 1.75rem;
    margin: 0.625rem;
    width: 75.75rem;
    height: 8.125rem;
    background-color: transparent;
    overflow: hidden;
    resize: none;
    font-family: 'Nanum Gothic', sans-serif;
}

textarea:focus {
    outline: none;
}

.letter-count {
    font-size: 1.5rem;
    color: #d9d9d9;
    display: flex;
    flex-direction: row-reverse
}

.review-write-box {
    margin-top: 0.5rem;
}

.write-review-submit-btn {
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    background-color: #ff8b00;
    color: white;
    font-size: 1.5rem;
    padding: 0;
    border:none;
    cursor: pointer;
}

.order-box {
    height: 9.375rem;
    padding: 1rem;
    border-top: 0.0625rem solid #d9d9d9;
    border-bottom: 0.0625rem solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 0 0;
}

.order-btn {
    width: 9.375rem;
    height: 3.125rem;
    border-radius: 1.25rem;
    border: none;
    background-color: rgba(255, 139, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    margin: 0 0.625rem;
    transition: background-color 0.3s;
}

.order-btn.active,
.order-btn:hover,
.order-btn:active,
.order-btn:focus {
    background-color: #ff8b00;
}

.reviews-container{
    width:112%;
    overflow: hidden;
    padding:1.5rem 1rem 1rem 0;
}


.review-list {
    border-bottom: 0.0625rem solid #d9d9d9;
    padding: 1em 2em;
    font-size: 1.75rem;
    width: 87rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position:relative;
    font-family: 'Nanum Gothic', sans-serif;
}

.review-writer {
    font-size: 1.75rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.best-icon {
    display: inline-block;
    text-align: center;
    width: 5.5rem;
    height: 1.8875rem;
    align-items: center;
    line-height: 1.8875rem;
    border-radius: 0.625rem;
    background-color: #ffc60b;
    color: white;
    /*padding-top: 0.9375rem;*/
    font-size: 1.125rem;
    box-shadow: 0 0.25rem 0.25rem 0.1875rem #d9d9d9;
    margin-left: 1rem;
}

.review-comment {
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.write-date {
    font-size: 1.25rem;
    color: #999999;
}

.recommend-btn {
    font-size: 1.5rem;
    width: 7.5rem;
    height: 3.125rem;
    border-radius: 1.25rem;
    background-color: white;
    border: none;
    box-shadow: 0 0.1875rem 0.1875rem gray;
}

.recommend-btn:hover {
    cursor: pointer;
    background-color: #ff8b00;
    color: white;
}



/* 리뷰 수정 관련 css */
.update-modal-container {
    width: 10rem;
    height: 8.75rem;
    border: 1px solid #d9d9d9;
    border-radius: 1.25rem;
    background-color: white;
    position: absolute;
    top: 10%;
    right: -10%;
    display: none;
}

.delete-review-btn,
.update-review-btn {
    width: 100%;
    height: 49%;
    border-radius: 20px;
    border: none;
    font-size: 1.25rem;
}


.update-review-btn:hover {
    color: #ff8b00;
}

hr {
    width: 100%;
    height: 0.063rem;
    background: #d9d9d9;
    border: 0;
}

.review-comment{
    margin-bottom: 1rem;
}

.update-comment-container{
    position:relative;
}

.review-star-container{
    font-size:2rem;
    margin-bottom: 1rem;
    position:absolute;
    bottom: 0;
    z-index:10;
}

.gray-star-container{
    font-size: 2rem;
    margin-bottom:1rem;
    color: gray;
    position:absolute;
    bottom: 0;
    z-index: 1;
}

.gray-star{
    color:gray;
}


.update-comment-textarea{
    position:relative;
    border: none;
    resize: none;
    border-radius: 5px;
    width:80rem;
    height: 23rem;
    padding: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
}

.update-comment-textarea:focus{
    border: 1px solid #d9d9d9;
}

.save-review-btn {
    margin-left: 93%;
    padding: 5px 10px;
    width: 6.25rem;
    height: 3.125rem;
    color:  #e87e04;
    border:none;
    cursor: pointer;
}

.save-review-btn:hover {
   color: #e87e04;
}

/* i 태그들 */
.fa-ellipsis-vertical {
    cursor: pointer;
    width: 1rem;
    height: 2rem;
    position: relative;
}

.stars {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.stars i {
    font-size: 2em;
    color: gray;
    position: relative;
}

.stars i.filled {
    color: gold;
}

.stars i.half::before {
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}
.score {
    margin-left: 8px;
    font-size: 1.2em;
}

/* 리뷰 카운트 메세지 */
.review-count-container{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: flex-start;
}

.recommend-write-text{
    color: #FF8B00;
    font-weight: 400;
    font-size: 2.5rem;
}

/* 경고 메세지 */
.review-count-alert{
    font-size: 3rem;
    justify-content: center;
    width: 100%;
    display: flex;
    color: red;
    font-weight: bold;
    padding: 5rem;
}

.review-comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/****************** 리뷰 토글 *************************/
.review-comment .extra-content {
    display: none;
}

.review-comment.expanded .extra-content {
    display: inline;
}

.review-comment .toggle-read-on {
    display: inline;
    font-weight: 700;
    margin-bottom: 1rem;
    cursor: pointer;
}

.review-comment .toggle-read-less {
    display: none;
}

.review-comment.expanded .toggle-read-on {
    display: none;
}

.review-comment.expanded .toggle-read-off {
    display: inline;
    font-weight: 700;
    margin-bottom: 1rem;
    cursor: pointer;
}
.reviewWrite_background_img {
    background-image: url('/images/Background_Image/kakegurui.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/********************* 반응형 ************************/
/* 반응형 레이아웃 */
@media (max-width: 1280px) {
    .left-img,
    .right-img {
        display: none;
    }
}
