.community-page{
  margin: 0 auto;

  /* 배경 이미지 추가 */
  background-image: url('/images/Background_Image/kakasi.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-container {
  font-size: 3rem;
  color: var(--mainColor);;
  width: 87.5rem;
  height: 5.25rem;
  line-height: 6.25rem;
  display: flex;
  margin-top: 11rem;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;
}

.ani-list-page-title {
  font-size: 3rem;
  color: var(--mainColor);;
  margin:0;
}

.order-container{
  display: flex;
}

.community-container {
  width: 87.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;

}

/*************** 장르 컨테이너 관련  *****************/

.check-genre,
.genre-list,
.genre-title-list {
  cursor: pointer;
}

.check-genre,
.genre-title-list{
  padding-left: 0.5rem;
}
.genre-title-list {
  border-radius: 0.5rem;
}

.genre-title-list:hover {
  color: #FEC02E;
}

.genre-title{
  position:sticky;
  top:0;
  background-color: #FFFFFF;
  font-size: 1.7rem;
  height: 6rem;
  display: flex;
  align-items: center;
}

.genre-container{
  color: black;
  /*color:var(--mainColor);;*/
  width: 20rem;
  height: 30rem;
  border: 1px solid var(--mainColor);;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 0 2rem 2rem 2rem;
  position: absolute;
  top:2%;
  left: -30%;
  z-index: 99;
  list-style: none;
}

.genre-title-list{
  margin:0;
  height: 3rem;
  display: flex;
  align-items: center;
}

.genre-list-container{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #FEC02E transparent ;
  scrollbar-width :thin;
  height: 21rem;
}



.genre-list-container input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

/*장르 테이블 부모 포지션*/
.body-container{
  position: relative;
}

.order-btn{
  width: 8rem;
  height: 5rem;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  background-color: #feffdb;
}

.order-btn.active,
.order-btn:hover,
.order-btn:active,
.order-btn:focus {
  background-color: var(--mainColor);;
  color: white;
}

.empty-container{
  width:75.5rem;
  height: 29.8rem;
  border-radius: 1.5rem;
  margin: 0.8rem 0;
  padding:9rem;
  text-align: center;
}

.empty-container-text{
  color: var(--mainColor);;
}

.go-to-request{
  background-color: var(--mainColor);;
  color: white;
  font-weight: bold;
  padding:1rem;
  border-radius: 1rem;
  margin:3rem;
}

.ani-list-container {
  width: 78rem;
  height:89rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  place-content: center;
  gap: 1rem;
  /*justify-items: center;*/
  align-content: flex-start;

}

.ani-info-container {
  width: 17.4rem;
  height: 28.063rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0;
  position:relative;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 2.1rem;
}

.ani-list-title-container{
  background-color: #FFFFFF;
  width:100%;
  height: 4rem;
  position:absolute;
  text-align: center;
  color:black;
  bottom: -5rem;
  line-height: 4rem;
  transition: bottom 0.3s ease;
}

.ani-info-container:hover .ani-list-title-container {
  bottom:0.2rem;
}

.row-list-container {
  width: 64.125rem;
  height: 29.063rem;
  display: flex;
  justify-content: space-between;
}

.ani-info-container {
  width: 18.75rem;
  height: 29.063rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.img-container {
  border-radius: 1.1rem;
  overflow: hidden;
  cursor: pointer;
  height: 25.4rem;
}

.ani-poster {
  width: 18.75rem;
  height: 24rem;
  border-radius: 1.875rem;
  transition: transform 0.3s ease;
}

.ani-poster:hover {
  transform: scale(1.1);
}

#animation-id{
  display: none;
}

.recommend-container {
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.ani-list-title{
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inquiry-btn{
  color:white;
}

.current-page {
  background-color: white;
  color: var(--mainColor);
  font-weight: bold;
  border-radius: 5px;
}


/* ////////  하단부 버튼  ////////*/
.page-button-wrapper{
  list-style: none;
  display: flex;
}

.page-btn-box {
  width: 100%;
  height: 3.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.page-align-row-box{
  display: flex;
  justify-content: center;
}


i.fa-solid.fa-angle-left.page-btn,
i.fa-solid.fa-angles-left.page-btn,
i.fa-solid.fa-angle-right.page-btn,
i.fa-solid.fa-angles-right.page-btn{
  display: flex;
}

.page-btn,
.page-number {
  margin: 0 0.5rem;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--mainColor);
  border: 1px solid  var(--mainColor);
  width:3.375rem;
  height: 3.375rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.page-btn:hover {
  border-radius:50%;
  background-color: var(--mainColor);;
  color:#FFFFFF;
}

.review-comment-icon:before{
  margin-right: 0.8rem;
}

.review-star-icon:before{
  margin-right: 0.8rem;
}

/*  //////// 수호신 이미지 ///////  */
.left-img {
  width: 52.406rem;
  height: 104.625rem;
  position: absolute;
  top: 15%;
  left: -6%;
  z-index: -1;
}

@media (max-width: 1400px) {
  .community-container {
    flex-direction: column;
    align-items: center;
  }

  .genre-container{
    width: 75.5rem;
    position: relative;
    left: 0;
    top: 0;
    margin: 2rem;
    height: 22rem;
  }

  .genre-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 14rem;
    cursor: pointer;
  }


  /*.ani-list-container {*/
  /*  width: 100%;*/
  /*}*/
}

.genre-id {
  display: none;
}
