<!-- templates/fragment/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WHO's-DucKing Header</title>
</head>

<body>
    <!-- Header -->
    <header id="header" th:fragment="header">
        <div class="h-inner">
            <!-- Left -->
            <div class="h-left">
                <!-- Logo -->
                <h1 class="h-logo">
                    <a class="navbar-brand" href="/">
                        <img src=""> </a>
                </h1>
            </div>
        </div>


        <img class="logo" src="/images/logo.png" />
        <div class="menu">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="검색" />
                <img class="search-icon" src="/images/search-icon.png" />
            </div>
            <nav class="header-bar">
                <p>장르</p>
                <p>커뮤니티</p>
                <p>소식</p>
                <p>놀이터</p>
                <p>알림</p>
            </nav>
            <div class="alarm-check">5</div>
        </div>
        <div th:if="${imageName != null}">
            <img class="profile" th:src="@{/image/{imageName}(imageName=${imageName})}"/>
        </div>
    </header>
</body>

</html>