<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Who's DucKing</title>
    <link rel="icon" href="/images/10duck.ico">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5y2qd5fi66"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/popup/Popup.css">
</head>
<body>
<div class="popup-store-box">
    <div class="popup-store-left-list">
        <div class="header">
            <a href="/">
                <img src="/images/Logo/logo.png" class="header-img">
            </a>
            <div class="search-box">
                <input type="text" placeholder="팝업 스토어 검색" class="search-input" >
                <button class="search-button"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <section class="section-choice">
            <span class="popup-title" onclick="location.reload();">팝업 스토어</span>
            <div class="button-group">
                <button class="schedule-button active">일정순</button>
                <button class="bookmark-button">북마크</button>
            </div>
        </section>
        <ul></ul>
    </div>
    <div class="map" id="map"></div>
</div>
<script src="/js/popup/popup.js"></script>
</body>
</html>