#delete-sendCodeButton.loading {
    cursor: not-allowed;
}

#delete-sendCodeButton.loading::after {
    content: " (전송 중…)";
    color: #ff9900;
}

.delete-container {
    background: #ededed;
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-signup-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-form-delete {
    width: 400px;
    margin: auto;
}

.delete-form-wrapper {
    padding: 20px;
}

.delete-form-header {
    font-size: 30px;
    color: #ff9900;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.delete-form-delete-message {
    text-align: center;
    color: #FFC60B;
    margin-bottom: 20px;
}

.delete-form-group {
    margin-bottom: 20px;
}

.delete-form-label {
    display: block;
    margin-bottom: 5px;
    color: #FF8B00;
}

.delete-input-wrapper {
    position: relative;
}

.delete-form-input {
    width: 350px;
    height: 50px;
    padding: 10px 35px 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 25px;
    background-color: #fff;
}

.delete-form-input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.delete-form-input:focus {
    outline: none;
    border-color: #ff9900;
}

.delete-input-wrapper .fa-lock {
    position: absolute;
    top: 23px;
    right: 20px;
    color: #cccccc;
}

.delete-email-check {
    display: block;
    margin-top: 10px;
    margin-left: 240px;
    color: #FFC60B;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    text-align: right;
}

.delete-email-check:hover {
    color: #FF8B00;
}

.delete-form-footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.delete-user, .delete-before {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.delete-user {
    background-color: #ff9900;
    color: #ffffff;
}

.delete-before {
    background-color: #FFC60B;
    color: #ffffff;
}
