.delete-container {
        background: #ededed;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.signup-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-delete {
    width: 400px;
    margin: auto;
}

.form-wrapper {
    padding: 20px;
}

.form-header {
    font-size: 30px;
    color: #ff9900;
    text-align: center;
    margin-bottom: 10px;
    font-weight:bold;
}

.form-delete-message {
    text-align: center;
    color: #FFC60B;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

.input-wrapper {
    position: relative;
}

.form-input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.form-input:focus {
    outline: none;
    border-color: #ff9900;
}

.input-wrapper .fa-lock {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #cccccc;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.delete-user, .delete-before {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.delete-user {
    background-color: #ff9900;
    color: #ffffff;
}

.delete-before {
    background-color: #cccccc;
    color: #ffffff;
}

.email-check{
    color:#FFC60B;
    text-align:right;
    cursor:pointer;
}
.email-check:hover{
    color:#FF8B00;
}