/* Container ================================================ */
#container {
    padding-top: 8rem;
}

/* 1. Profile Image =================================== */
.userInfoEdit_profile_img_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.userInfoEdit_profile_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--mainColor);
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.userInfoEdit_profile_img {
    display: block;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
}

#profileImageInput {
    display: none;
}

.userInfoEdit_profile_edit_icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    right: 20px;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    color: var(--mainColor);
    font-size: 2.8rem;
    border: 2px solid var(--mainColor);
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10;
}

.userInfoEdit_profile_edit_icon:hover {
    background-color: var(--mainColor);
    color: #fff;
    transition: 0.5s;
}

.userInfoEdit_profile_basic_image_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    background-color: var(--mainColor);
    color: #fff;
    border: 2px solid var(--mainColor);
    border-radius: 1rem;
    cursor: pointer;
}

.userInfoEdit_profile_basic_image_btn:hover {
    background-color: #fff;
    color: var(--mainColor);
    transition: 0.5s;
}

/* All =================================== */

.userInfoEdit_input_cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.userInfoEdit_input > input[type="text"],
.userInfoEdit_input > input[type="number"] {
    width: 100%;
    margin-top: 0.4rem;
    padding: 0 1rem;
    height: 55px;
    border: 1px solid #d1d1d1;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: var(--titleColor);
}

.userInfoEdit_input > input:focus {
    outline-color: var(--mainColor);
}

.userInfoEdit_input > input::placeholder {
    color: #d1d1d1;
}

/* 2. Email  =================================== */
.userInfoEdit_email_box {
    position: relative;
    margin-top: 5rem;
    width: 40%;
}

.userInfoEdit_email_title {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--mainColor);
}

.userInfoEdit_email_input_box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.4rem;
    height: 55px;
    padding: 0 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: var(--titleColor);
}

.userInfoEdit_email_input_box > label,
.userInfoEdit_email_input_box > i {
    color: #d1d1d1;
}

.userInfoEdit_email_input_box > i {
    margin-left: auto;
}

.userInfoEdit_email_check {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.userInfoEdit_email_check_label {
    margin-left: auto;
    font-weight: 350;
    color: var(--subColor);
    font-size: 2rem;
}

.userInfoEdit_email_check_box {
    opacity: 0;
    position: absolute;
}

.userInfoEdit_email_check_box,
.userInfoEdit_email_check_label {
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
}

.userInfoEdit_email_check_box + .userInfoEdit_email_check_label:before {
    content: "";
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid #d1d1d1;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 0.2rem;
    margin: 0 0.8rem 0.2rem 0;
    text-align: center;
}

.userInfoEdit_email_check_box:checked + .userInfoEdit_email_check_label:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 8px;
    border: solid var(--mainColor);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-radius: 0px;
    margin: 0px 1rem 0.7rem 0.5rem;
}

.userInfoEdit_email_check_box:checked + .userInfoEdit_email_check_label {
    color: var(--mainColor);
}

/* 3. NickName =================================== */
.userInfoEdit_nickname_box {
    margin-top: 3rem;
    width: 40%;
}

.userInfoEdit_nickname_title {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--mainColor);
}

.userInfoEdit_nickname_input_box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.4rem;
    height: 55px;
    padding: 0 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: var(--titleColor);
}

.userInfoEdit_nickname_check_btn {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: auto;
    font-weight: 350;
    color: var(--subColor);
    font-size: 2rem;
}

/* 4. Phone =================================== */
.userInfoEdit_phone_box {
    margin-top: 3rem;
    width: 40%;
}

.userInfoEdit_phone_title {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--mainColor);
}

.userInfoEdit_phone_input_box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.4rem;
    height: 55px;
    padding: 0 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: var(--titleColor);
}

.userInfoEdit_phone_check_btn {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: auto;
    font-weight: 350;
    color: var(--subColor);
    font-size: 2rem;
}

/* 5. Verification Code =================================== */
.userInfoEdit_code_box {
    margin-top: 3rem;
    width: 40%;
    display: none;
}

.userInfoEdit_code_title {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--mainColor);
}

.userInfoEdit_code_input_box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.4rem;
    height: 55px;
    padding: 0 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: var(--titleColor);
}

.userInfoEdit_code_check {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.userInfoEdit_code_check_btn {
    margin-left: auto;
    font-weight: 350;
    color: var(--subColor);
    font-size: 2rem;
}
/* 6. Gender ========================================= */
.userInfoEdit_gender_box {
    margin-top: 3rem;
    width: 40%;
}

.userInfoEdit_gender_title {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--mainColor);
}

.userInfoEdit_gender_input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 2rem;
}

.userInfoEdit_gender_input > input[type="radio"] {
    display: none;
}

.userInfoEdit_gender_input > input[type="radio"] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 2rem;
    border: 1px solid #d9d9d9;
    width: 100px;
    height: 60px;
    color: #ff8b00;
    font-size: 2.8rem;
    font-weight: 400;
    cursor: pointer;
}

.userInfoEdit_gender_input > input[type="radio"]:checked + label {
    background-color: var(--mainColor);
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0px;
}

/* 7. Genre ========================================= */
.userInfoEdit_genres_box {
    margin-top: 3rem;
    width: 40%;
}

.userInfoEdit_genres_title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.userInfoEdit_genres_title {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--mainColor);
}

.userInfoEdit_genres_subtitle {
    font-size: 2rem;
    font-weight: 350;
    color: var(--subColor);
}

.userInfoEdit_selected_genres_list_row {
    display: flex;
    gap: 1.5rem;
    width: 48rem;
}

.userInfoEdit_selected_genres_item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--mainColor);
    border-radius: 2rem;
    font-size: 2rem;
    width: 8.4rem;
    height: 4.8rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* 8. Address ========================================= */
.userInfoEdit_address_box {
    margin-top: 3rem;
    width: 40%;
}

.userInfoEdit_address_title {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--mainColor);
}

.userInfoEdit_address_input > input[type="text"] {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    height: 55px;
    border: 1px solid #d1d1d1;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: var(--titleColor);
}

.userInfoEdit_address_input:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.userInfoEdit_address_input:first-child > input[type="text"] {
    width: 70%;
}

.userInfoEdit_address_check_btn {
    font-weight: 350;
    color: var(--subColor);
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 0rem 1rem 0rem;
}

.userInfoEdit_address_input > input:focus {
    outline-color: var(--mainColor);
}

.userInfoEdit_address_input > input::placeholder {
    color: #d1d1d1;
}

/* 9. Button ========================================= */
.userInfoEdit_edit_btn {
    margin-top: 5rem;
    border-radius: 1rem;
    width: 15rem;
    height: 5rem;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
}

.userInfoEdit_edit_btn:hover {
    background-color: #fff;
    color: var(--mainColor);
    transition: 0.5s;
}

/* 10. Modal ========================================== */
.userInfoEdit_genreModal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.userInfoEdit_genreModal_contents {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background: #fff;
    margin: 0 auto;
    padding: 8rem 2rem;
    box-shadow: var(--box-shadow__A);
    border-radius: 3rem;
    z-index: 101;
}

.userInfoEdit_genreModal-close {
    position: absolute;
    right: 4rem;
    top: 3rem;
    font-size: 4rem;
}

.userInfoEdit_genreModal-close:hover {
    color: var(--mainColor);
}

.userInfoEdit_genreModal_title_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.userInfoEdit_genreModal-title {
    font-size: 3.6rem;
    color: var(--mainColor);
    text-align: center;
}

.userInfoEdit_genreModal-subtitle {
    font-size: 2.4rem;
    color: var(--subColor);
    text-align: center;
    font-weight: 400;
}

.userInfoEdit_genreModal-list {
    padding: 3rem 0;
}

.userInfoEdit_genreModal-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.userInfoEdit_genreModal-item {
    width: 17rem;
    padding-bottom: 4rem;
}

.userInfoEdit_genreModal_checkbox {
    display: none;
}

.userInfoEdit_genreModal_check_label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 2rem;
    font-size: 2.4rem;
    height: 6rem;
    white-space: nowrap;
    padding: 0 1rem;
    transition: 0.3s;
}

.userInfoEdit_genreModal_check_label:hover {
    background-color: var(--subColor);
    color: #fff;
    cursor: pointer;
}

.userInfoEdit_genreModal_check_label_click {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 2rem;
    font-size: 2.4rem;
    height: 6rem;
    white-space: nowrap;
    padding: 0 1rem;
    transition: 0.3s;
}

.userInfoEdit_genreModal_check_label_click:hover {
    background-color: var(--subColor);
    cursor: pointer;
}

.userInfoEdit_genreModal_select_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 30%;
    height: 45px;
    border-radius: 1rem;
    background: var(--mainColor);
    font-size: 1.8rem;
    color: #fff;
    transition: 0.3s;
}

.userInfoEdit_genreModal_select_btn:hover {
    background: var(--subColor);
}
