/* 성진 추가 */
.profile-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ff8b00;
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile-img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: auto;
}

.edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ff8b00;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#profileImageInput {
    display: none;
}
.edit-hr {
      border: 2px solid #d9d9d9;
      margin-top:20px;
      margin-bottom:20px;
}

#useDefaultImage {
    display: block;
    margin: 10px auto;
    font-size: 16px;
    padding: 10px;
    background-color: #ff8b00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* 준명 */
.header,
.header * {
    box-sizing: border-box;
}

.header {
    background: #ffffff;
    border-style: solid;
    border-color: #ededed;
    border-width: 0px 0px 1px 0px;
    height: 80px;
    position: relative;
    overflow: hidden;
}

.group-152 {
    position: absolute;
    inset: 0;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 89px;
    align-items: center;
    justify-content: flex-start;
    width: 550.1px;
    position: absolute;
    left: 1109.9px;
    top: 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 390px;
    position: relative;
}

.header-bar {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.div {
    color: #000000;
    text-align: left;
    font-family: "JejuGothic-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}

.group-153 {
    flex-shrink: 0;
    width: 45px;
    height: 34px;
    position: static;
}

.group-151 {
    width: 21px;
    height: 12px;
    position: static;
}

.count {
    background: #ff8b00;
    border-radius: 100px;
    padding: 2px 4px 2px 4px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 369px;
    top: 0px;
}

._12 {
    color: #ffffff;
    text-align: left;
    font-family: "NanumSquareRoundOtf-Bold", sans-serif;
    font-size: 10px;
    font-weight: 700;
    position: relative;
    width: 13px;
    height: 8px;
}

.div2 {
    color: #000000;
    text-align: left;
    font-family: "JejuGothic-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 345px;
    top: 14px;
    width: 34px;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 71.17px;
    height: auto;
    position: relative;
    overflow: visible;
}

.left {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    justify-content: flex-start;
    width: 780.24px;
    position: absolute;
    left: 260px;
    top: 0px;
}

.logo {
    flex-shrink: 0;
    width: 175px;
    height: 80px;
    position: relative;
    object-fit: cover;
}

.search-bar {
    flex-shrink: 0;
    width: 583.33px;
    height: 45px;
    position: relative;
}

.rectangle-7 {
    background: #feffdb;
    border-radius: 1000px;
    width: 583.33px;
    height: 45px;
    position: absolute;
    left: -0.17px;
    top: calc(50% - 22.5px);
}

.frame {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20.33px;
    top: calc(50% - 10.5px);
    overflow: visible;
}

.footer,
.footer * {
    box-sizing: border-box;
}

.footer {
    position: relative;
}

.secion-footer {
    background: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px 0px 0px 0px;
    width: 1920px;
    height: 263px;
    position: absolute;
    left: calc(50% - 960px);
    bottom: 0px;
    overflow: hidden;
}

.frame-83 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 779px;
    top: 17px;
}

.logo-black-1 {
    flex-shrink: 0;
    width: 125px;
    height: 80px;
    position: relative;
    object-fit: cover;
}

.link {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.div {
    color: var(--fcb, #757575);
    text-align: center;
    font-family: "JejuGothic-Regular", sans-serif;
    font-size: 14px;
    line-height: 168%;
    font-weight: 400;
    position: relative;
}

.div2 {
    color: #ff8b00;
    text-align: center;
    font-family: "JejuGothic-Regular", sans-serif;
    font-size: 14px;
    line-height: 168%;
    font-weight: 400;
    position: relative;
}

.copyright-who-s-duc-king-all-rights-reserved {
    color: #666666;
    text-align: center;
    font-family: "JejuGothic-Regular", sans-serif;
    font-size: 14px;
    line-height: 168%;
    font-weight: 400;
    position: relative;
}

.div3 {
    color: #757575;
    text-align: center;
    font-family: "JejuGothic-Regular", sans-serif;
    font-size: 14px;
    line-height: 168%;
    font-weight: 400;
    position: relative;
}

.github-1 {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    position: relative;
    overflow: visible;
}

/* ------------------------------------------------------------------------ */

/* 프로필 수정 타이틀 컨테이너 */
.profile-edit-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right:400px;
}

/* 프로필 수정 타이틀 */
.profile-edit-title {
    color: #ff8b00;
    font-size: 40px;
    font-weight: bold;
}

.photo {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid;
}

.line {
    box-sizing: border-box;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px 0 0 0;
    width: 1400px;
    margin: 100px auto;
    margin-bottom: 100px;
}

.text {
    padding: 5px;
    font-size: 18px;
    border: 0px solid #D9D9D9;
    border-radius: 15px;
    width: 500px;
    height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 1994px;
    margin: auto;
}

.name {
    font-size: 40px;
    color: #ff8b00;
    display: flex;
    justify-content: space-between;
}

.register {
    padding: 0;
    border: 1px solid;
}

.check {
    height: 40px;
    background-color: white;
    border: 0px solid;
    color: #ffc60b;
    font-size: 24px;
    width: 200px;
    text-align: right;
}

.check-genre {
    background-color: white;
    border: 0px solid;
    color: #ffc60b;
    font-size: 24px;
    width: 200px;
    text-align: end;
}

.but {
    border: 5px solid #ccc;
}

.edit-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
}

.edit-ul li {
    margin-bottom: 50px;
}
.edit-address-ul {
    margin: 0;
}

.box {
    border: 1px solid #D9D9D9;
    padding: 10px;
    width: 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom:10px;
}

.email {
    display: flex;
}

input[type='checkbox'] {
    display: none;
}

.email-label {
    cursor: pointer;
    align-items: center;
    color: #ffc60b;
    font-size: 24px;
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.checkbox-icon::before {
    content: '';
    display: block;
    border-radius: 5px;
    border: 5px solid #d9d9d9;
    border-width: 1px;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    position: relative;
}

.email-checkbox:hover,
.email-label:hover {
    cursor: pointer;
}

.email-label input:checked+.checkbox-icon::before {
    background: url(https://intranet.adef.co.kr/asset/images/ic_check.png) #ff8b00 no-repeat center;
    border: none;
}

.hidden {
    display: none;
}

.gender-select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.gender-select input[type=radio] {
    display: none;
}

.gender-select input[type=radio]+label {
    background: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    width: 120px;
    height: 80px;
    color: #ff8b00;
    font-size: 42px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gender-select input[type=radio]:checked+label {
    background-color: #ff8b00;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0px;
}

.gender-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.gender.selected {
    background-color: #ff8b00;
    color: white;
}

.box input:focus+.styled-text,
.box input:not(:placeholder-shown)+.styled-text {
    display: none;
}

.styled-text {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #d9d9d9;
    pointer-events: none;
    font-size: 32px;
}

.resign {
    background: #ffc60b;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    border: 0px;
    color: white;
    font-size: 16px;
}

.edit {
    background: #ff8b00;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border: 0px;
    color: white;
    font-size: 16px;
    margin-top:10px;
}

.action {
    gap: 30px;
    display: flex;
    justify-content: right;
}

button {
    cursor: pointer;
}

.icon {
    font-size: 24px;
    color: #d9d9d9;
}

.image {
    text-align: right;
    padding-right: 10px;
    width: 100px;
}

.genre-like-row {
    display: flex;
    gap: 20px;
    width: 580px;
}

.genre-like-item {
    color: white;
    background-color: #ff8b00;
    border-radius: 20px;
    font-size: 24px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.genre-title {
    color: #ff8b00;
    font-size: 48px;
    font-weight: 400;
}

.genre-subtitle {
    color: #ffc60b;
    font-size: 24px;
    font-weight: 400;
}

.genre-selection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-container {
    background: #ffffff;
    border-radius: 20px;
    width: 850px;
    height: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.genre-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 785px;
    height: 1020px;
    margin: 159px 0 50px 0;
}

.genre-row {
    display: flex;
    gap: 33px;
    justify-content: center;
    margin-bottom: 100px;
    width: 785px;
}

.genre-item {
    width: auto;
    height: 60px;
    text-align: center;
}

.checkbox_class {
    display: none;
}

.checkbox_label {
    color: #d9d9d9;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    font-size: 30px;
    width: auto;
    min-width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 10px;
}

.checkbox_label:hover {
    background-color: #feffdb;
    cursor: pointer;
}

.checkbox_label_click {
    color: #FFFFFF;
    background-color: #ff8b00;
    border: 1px solid #ff8b00;
    border-radius: 20px;
    font-size: 30px;
    width: auto;
    min-width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 10px;
}

.checkbox_label_click:hover {
    cursor: pointer;
}

.submit-btn {
    background: #ff8b00;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 36px;
    padding: 10px;
    width: 650px;
    height: 75px;
    cursor: pointer;
    margin-bottom: 100px;
    transition: background 0.3s;
}
