.lucky_body {
    background-image: url('/images/Background_Image/mitsuri.png');
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-size: 100% 52%;
}

.lucky_header {
    transform: scale(0.85714);
}

.lucky_main {
    transform: scale(0.85714);
}

.lucky_content {
    width: 1400px;
    margin: 0 auto;
}

.lucky_h2 {
    color: #ff8b00;
    font-size: 50px;
}

.lucky_ul {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 상단 배너 */
.mv-cnt-lucky {
    width: 1400px;
    height: 450px;
    margin-bottom: 50px;
}

/* 메뉴 탭 */

.lucky_tab_menu {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lucky_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 350px;
    height: 120px;
    background: rgba(255, 139, 0, 0.15);
    color: #c9c9c9;
    padding: 10px 20px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.lucky_tab:hover {
    background-color: #FF8b00;
    color: #fff;
}

.lucky_tab.active {
    background-color: #FF8b00;
    color: white;
    border-color: #FF8b00;
}

.lucky_tab.active::before {
    transform: scale(1);
}

.lucky_tab__content {
    display: none;
}
.lucky_tab__content.active {
    display: block;
}


/* 드로우 상품 */
.lucky_draw_item {
    width: 445px;
    height: 740px;
    border-radius: 10px;
    background-color: #FEFFDB;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.lucky_draw_img {
    width: 400px;
    height: 400px;
}

.lucky_draw_img_ul {
    width: 400px;
    height: 400px;
    display: flex;
}

.lucky_draw_img_box {
    position: absolute;
    display: flex;
    width: 400px;
    margin-bottom: 10px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-self: flex-end;
}

.lucky_draw_coin {
    font-size: 24px;
    background-color: white;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 900;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lucky_draw_icon1 {
    color: #FFC60B;
    margin-right: 10px;
}

.lucky_draw_date {
    font-size: 18px;
    background-color: white;
    width: 180px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 900;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lucky_draw_icon2 {
    margin-right: 10px;
}

.lucky_draw_name {
    font-size: 32px;
    align-self: flex-start;
    margin-left: 30px;
    color: black;
}

.lucky_draw_button {
    width: 400px;
    height: 95px;
    border-radius: 20px;
    background-color: #ff8b00;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lucky_ur {
    color: #e50e0e;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    height: 40px;
    -webkit-text-stroke: 3px #ff9696;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.lucky_sr {
    color: #0C22EE;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    height: 40px;
    -webkit-text-stroke: 3px #8481FF;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.lucky_r {
    color: #24B329;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    height: 40px;
    -webkit-text-stroke: 3px #05FF00;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.lucky_n {
    color: #000000;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    height: 40px;
    -webkit-text-stroke: 3px #7f7e7e;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.lucky_notice {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin: 30px 0;
}

.lucky_draw_button:hover {
    background-color: #ec8303;
}

.myFaq_next {
    width: 424px;
    height: 54px;
    gap: 20px;
    display: flex;
}

.myFaq_next-button {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    background-color: #feffdb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.myFaq_now-button {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    background-color: #ffc60b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.disabled {
    pointer-events: none;
    color: grey;
}