.swal-footer{
    text-align: center;
    padding-top: 13px;
    margin-top: 13px;
    padding: 13px 16px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.swal-button {
    background-color: #FFC60B;
    color: #fff;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}
.swal-button:focus{
    box-shadow:0 0 0 1px #ff8b00;
}
.swal-button:not([disabled]):hover {
    background-color: #ff8b00;
}
.swal-modal{
    width: 500px;
}
.swal-text{
    font-size: 25px;
    font-weight:bold;
    color:#444444;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    color: rgba(0, 0, 0, .64);
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
}