<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Who's DucKing</title>
    <link rel="icon" href="/images/10duck.ico">
    <link rel="stylesheet" href="/css/playground/world.css">
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/css/Common.css">
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/common.js"></script>

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<span class="world-title">이상형 월드컵</span>
<div class="container">
    <div class="image-container" id="left-container">
        <img src="" id="left-image" alt="Left Image">
    </div>
    <div class="image-container" id="right-container">
        <img src="" id="right-image" alt="Right Image">
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
<script src="/js/playground/world.js"></script>
</body>
</html>
