body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.container {
    text-align: center;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 800px;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #ff8b00;
    font-weight: bold;
    margin: 10px 0;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px 20px;
    border: 1px solid #ff8b00;
    border-radius: 5px;
}
.nav-link:hover {
    color: #fff;
    background-color: #ff8b00;
}
.table-container {
    overflow-y: auto;
    flex-grow: 1;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    color: #333;
}
.pagination {
    margin-top: 20px;
}