.calendar_body_img {
  background-image: url("/images/Background_Image/nami.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.title-check {
  color: #ff8b00;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-image {
  width: 700px;
  height: auto;
  margin-top: 20px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 50px auto;
  background: #ffc60b;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.calendar-year-month {
  font-size: 50px;
  font-weight:bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.calendar-nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.calendar-nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 30px;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
}

.calendar-nav-btn:hover {
  background-color:#ff8b00;
  color:#000;
}
.calendar-go-today {
  width: 100px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
.calendar-go-today:hover {
  background-color:#ff8b00;
  color:#000;
}

.calendar-main {
  width: 100%;
}

.calendar-days {
  display: flex;
  justify-content: center;
  margin: 25px 0 10px;
}

.calendar-day {
  width: calc(100% / 7);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.calendar-dates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.calendar-date {
  position: relative;
  font-size:20px;
  font-weight:bold;
  color: #000;
  width: calc(100% / 7);
  height: 100px;
  text-align: left;
  border: 3px solid #febf00;
  border-radius: 10px;
  background: #feffdb;
  box-sizing: border-box;
  padding: 5px;
}

.calendar-date::before {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.calendar-date-stamp{
  object-fit: cover; /* 이미지가 찌그러지지 않게 */
  position: absolute;
  top: 50%; /* 수직 가운데 정렬 */
  left: 50%; /* 수평 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데로 위치를 조정 */
  width: 80%; /* 이미지 크기 조정 */
  height: 80%; /* 이미지 크기 조정 */
  display: none; /* 기본적으로 숨김 */
}

.calendar-today{
  border: 5px solid #FF8B00;
}

.calendar-date.calendar-other {
  background: #FF8B00;
  color: #c9c9c9;
}

.calendar-points {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #000000;
}

.calendar-notice {
  border-top: 1px solid #000;
  margin-top: 10rem;
  padding-top: 1rem;
  text-align: left;
  font-size: 20px;
  line-height: 6rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.calendar-notice h3 {
  color: #febf00;
  font-weight: bold;
  font-size: 3rem;
}

.calendar-notice ul {
  list-style-type: disc;
}

