.lucky_prize_body {
    background-image: url('/images/Background_Image/inuyasha.png');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 100% 40%;
}

.lucky_prize_header {
    transform: scale(0.85714);
}

.lucky_prize_main {
    transform: scale(0.85714);
}

.lucky_prize_content {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.lucky_prize_h2 {
    color: #ff8b00;
    font-size: 50px;
}

.lucky_prize_ul {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.lucky_prize_profile {
    width: 1350px;
    height: 607px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.lucky_prize_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lucky_prize_line {
    height: 600px;
    border-left: 1px solid #d9d9d9;
}

.lucky_prize_line2 {
    width: 617px;
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
}

.lucky_prize_name {
    font-size: 40px;
    align-items: flex-start;
    display: flex;
    color: black;
    font-weight: 900;
}

.lucky_prize_button {
    width: 375px;
    height: 50px;
    background-color: #ffc60b;
    border-radius: 10px;
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
}

.lucky_prize_coin {
    font-size: 36px;
    width: 617px;
    border-radius: 10px;
    font-weight: 900;
    color: black;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.lucky_prize_icon1 {
    color: #FFC60B;
    margin-right: 10px;
}

.lucky_prize_date {
    font-size: 28px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 900;
    color: black;
    display: flex;
    margin-top: 20px;
}

.lucky_prize_icon2 {
    margin-right: 10px;
}

.lucky_prize_date2 {
    font-size: 28px;
    color: black;
    font-weight: 900;
    display: flex;
}

.lucky_prize_announce {
    font-size: 28px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 900;
    color: black;
    display: flex;
    margin-top: 20px;
}

.lucky_prize_icon3 {
    margin-right: 10px;
}

.lucky_prize_announce_date {
    font-size: 28px;
    color: black;
    font-weight: 900;
    display: flex;
}

.lucky_prize_winner {
    font-size: 28px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 900;
    color: black;
    display: flex;
    margin-top: 20px;
}

.lucky_prize_winner_num {
    font-size: 28px;
    color: black;
    font-weight: 900;
    display: flex;
}

.lucky_prize_line3 {
    width: 1400px;
    border-top: 1px solid #d9d9d9;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* 다른 드로우 상품 */

.lucky_prize_item {
    width: 445px;
    height: 518px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.lucky_prize_img {
    width: 400px;
    height: 400px;
}

.lucky_prize_img_ul {
    width: 400px;
    height: 400px;
    display: flex;
}

.lucky_prize_img_box {
    position: absolute;
    display: flex;
    width: 400px;
    margin-bottom: 10px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-self: flex-end;
}

.other_prize_a {
    display: inline-block;
}

.other_prize_img {
    width: 400px;
    height: 400px;
    display: flex;
}

/* 코인 */
.lucky_prize_coin2 {
    font-size: 24px;
    background-color: white;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 900;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lucky_prize_icon4 {
    color: #FFC60B;
    margin-right: 10px;
}
/* 달력 */
.lucky_prize_date3 {
    font-size: 18px;
    background-color: white;
    width: 180px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 900;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lucky_prize_icon5 {
    margin-right: 10px;
}

.lucky_prize_name2 {
    font-size: 32px;
    align-self: flex-start;
    margin-left: 30px;
    color: black;
}

/* 페이지 버튼 */
.lucky_prize_next {
    width: 424px;
    height: 54px;
    gap: 20px;
    align-items: center;
    display: flex;
    align-self: center;
}

.lucky_prize_next-button {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #feffdb;
}

.lucky_Prize_now-button {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    background-color: #ffc60b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.lucky_prize_notice{
    list-style-type: disc;
    font-size: 24px;
    margin-left: 30px;
    margin-bottom: 30px;
}