.quiz_section {
    background: #f5f5f5;
}

/* Start */
.quiz_start_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.quiz_start_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    box-shadow: var(--box-shadow__A);
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    border-radius: 3rem;
    border: 7px solid #d9d9d9;
    animation: borderPulse 2s infinite;
}

@keyframes borderPulse {
    0% {
        border-color: #ff8b00;
    }
    50% {
        border-color: #ffc60b;
    }
    100% {
        border-color: #ff8b00;
    }
}

.quiz_start_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.8rem;
    font-weight: 700;
    color: #f79a92;
    gap: 1rem;
    margin-bottom: 2rem;
}

.quiz_start_subTitle {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--subColor);
}

.quiz_start_img_slider {
    background: var(--primaryColor);
    width: 100%;
    margin: 7rem 0;
    overflow: hidden;
    border: 5px dashed #444444;
    border-left: none;
    border-right: none;
}

.quiz_start_slider_container {
    display: flex;
    animation: slide var(--slide-duration) linear infinite;
    margin: 30px auto;
}

.quiz_start_slider_container img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 2rem;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1000%)); /*setSlideDuration(60);랑 조절*/
    }
}

.quiz_start_btn {
    width: 10rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    background: var(--mainColor);
    transition: background-color 0.3s;
    border: 2px solid var(--mainColor);
    border-radius: 5rem;
    animation: bounce 2s infinite;
}

.quiz_start_btn:hover {
    background: #fff;
    color: var(--mainColor);
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

/* Main */
.quiz_main_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.quiz_main_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    box-shadow: var(--box-shadow__A);
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    height: 905px; /* 조절 예정 */
    border-radius: 3rem;
    border: 7px solid #d9d9d9;
    animation: borderPulse 2s infinite;
}

.quiz_main_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.8rem;
    font-weight: 700;
    color: #f79a92;
    gap: 1rem;
    margin-top: 2rem;
}

.quiz_main_number {
    margin: 2rem 0;
}

.quiz_main_number_label {
    font-size: 2.8rem;
    font-weight: 700;
    color: #79aff8;
}

.quiz_main_img_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.quiz_main_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.quiz_main_img_question {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 1rem;
    color: var(--mainColor);
}

.quiz_main_timer_box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    color: #ff8b00;
    margin-bottom: 2rem;
}

.hourglassBackground {
    position: relative;
    height: 65px;
    width: 65px;
}

.hourglassContainer {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 25px;
    height: 35px;
    animation: hourglassRotate 2s ease-in 0s infinite;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.hourglassContainer div,
.hourglassContainer div:before,
.hourglassContainer div:after {
    transform-style: preserve-3d;
}

.hourglassCapTop,
.hourglassCapBottom {
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #333;
}

.hourglassCapTop {
    top: 0;
}

.hourglassCapBottom {
    bottom: 0;
}

.hourglassGlass {
    position: absolute;
    top: 16px;
    left: 10px;
    width: 5px;
    height: 3px;
    background-color: #999999;
    opacity: 0.5;
}

.hourglassGlass:before,
.hourglassGlass:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #ff8b00;
    left: -8.5px;
    width: 22px;
    height: 14px;
}

.hourglassGlass:before {
    top: -13.5px;
    border-radius: 0 0 12.5px 12.5px;
}

.hourglassGlass:after {
    bottom: -13.5px;
    border-radius: 12.5px 12.5px 0 0;
}

.hourglassCurves:before,
.hourglassCurves:after {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #333;
    animation: hideCurves 2s ease-in 0s infinite;
}

.hourglassCurves:before {
    left: 7.5px;
}

.hourglassCurves:after {
    left: 14.5px;
}

.hourglassSandStream:before {
    content: "";
    display: block;
    position: absolute;
    left: 12px;
    width: 1.5px;
    background-color: white;
    animation: sandStream1 2s ease-in 0s infinite;
}

.hourglassSandStream:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    left: 9.5px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #fff;
    animation: sandStream2 2s ease-in 0s infinite;
}

.hourglassSand:before,
.hourglassSand:after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    background-color: white;
    perspective: 250px;
}

.hourglassSand:before {
    top: 4px;
    width: 19.5px;
    border-radius: 1.5px 1.5px 15px 15px;
    animation: sandFillup 2s ease-in 0s infinite;
}

.hourglassSand:after {
    border-radius: 15px 15px 1.5px 1.5px;
    animation: sandDeplete 2s ease-in 0s infinite;
}

@keyframes hourglassRotate {
    50% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}

@keyframes hideCurves {
    0%,
    100% {
        opacity: 1;
    }
    25%,
    30% {
        opacity: 0;
    }
    40%,
    90% {
        opacity: 1;
    }
}

@keyframes sandStream1 {
    50% {
        height: 0;
        top: 22.5px;
    }
    60% {
        height: 17.5px;
        top: 4px;
    }
    85% {
        height: 0;
        top: 4px;
    }
}

@keyframes sandStream2 {
    0%,
    50%,
    100% {
        opacity: 0;
    }
    51%,
    90% {
        opacity: 1;
    }
}

@keyframes sandFillup {
    0%,
    50% {
        opacity: 0;
        height: 0;
    }
    60% {
        opacity: 1;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 8.5px;
    }
}

@keyframes sandDeplete {
    0% {
        opacity: 0;
        top: 22.5px;
        height: 8.5px;
        width: 19px;
        left: 3px;
    }
    1% {
        opacity: 1;
        top: 22.5px;
        height: 8.5px;
        width: 19px;
        left: 3px;
    }
    24% {
        opacity: 1;
        top: 22.5px;
        height: 8.5px;
        width: 19px;
        left: 3px;
    }
    25% {
        opacity: 1;
        top: 20.5px;
        height: 8.5px;
        width: 19px;
        left: 3px;
    }
    50% {
        opacity: 1;
        top: 20.5px;
        height: 8.5px;
        width: 19px;
        left: 3px;
    }
    90% {
        opacity: 1;
        top: 20.5px;
        height: 0;
        width: 5px;
        left: 10px;
    }
}

.quiz_main_timer_text {
    font-size: 2.8rem;
    font-weight: 700;
}

.quiz_main_answer_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

.quiz_main_answer_input {
    width: 80%;
    padding: 0.8rem;
    font-size: 1.6rem;
    border: 2px solid #d9d9d9;
    border-radius: 1rem;
}

.quiz_main_answer_input:focus {
    outline-color: var(--mainColor);
}

.quiz_main_answer_input::placeholder {
    font-size: 1.6rem;
    font-weight: 500;
    color: #d9d9d9;
}

.quiz_main_answer_btn {
    width: 10rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    background: var(--mainColor);
    transition: background-color 0.3s;
    border: 2px solid var(--mainColor);
    border-radius: 5rem;
    animation: bounce 2s infinite;
}

.quiz_main_answer_btn:hover {
    background: #fff;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
}

.quiz_main_answer_result_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 2rem;
}
.quzie_main_answer_result {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    color: #f88379;
}

.quiz_main_answer_result_next_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    background: #79aff8;
    transition: background-color 0.3s;
    border: 2px solid #79aff8;
    border-radius: 1rem;
    gap: 1rem;
}

.quiz_main_answer_result_next_btn:hover {
    background: #fff;
    color: #79aff8;
}

/* Result */
.quiz_result_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.quiz_result_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    box-shadow: var(--box-shadow__A);
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    border-radius: 3rem;
    border: 7px solid #d9d9d9;
    animation: borderPulse 2s infinite;
}

.quiz_result_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.8rem;
    font-weight: 700;
    color: #f79a92;
    gap: 1rem;
    margin-top: 2rem;
}

.quiz_result_subTitle {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--subColor);
}

.quiz_result_correct_count {
    font-size: 2.8rem;
    font-weight: 700;
    color: #f44336;
    margin: 2rem auto;
}

.quiz_result_img {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

.quiz_result_img .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 170px;
    gap: 3rem;
}

.quiz_result_img img {
    width: 170px;
    height: 260px;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
}

.quiz_result_img img:hover {
    transform: scale(1.05);
}

.anime-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #444444;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    height: 40px;
}

.quiz_result_img a {
    text-decoration: none;
    color: var(--mainColor);
    font-weight: 700;
    padding: 0.5rem 1rem;
    background-color: var(--primaryColor);
    border-radius: 1rem;
}

.quiz_result_img a:hover {
    background-color: var(--mainColor);
    color: #fff;
}

.quiz_result_btn_box {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
}

.quiz_result_retry_btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #f5f5f5;
    border-radius: 1rem;
    border: 2px solid #2ecc71;
    background: #2ecc71;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.quiz_result_home_btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #f5f5f5;
    border-radius: 1rem;
    border: 2px solid #3498db;
    background: #3498db;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.quiz_result_playground_btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #f5f5f5;
    border-radius: 1rem;
    border: 2px solid var(--mainColor);
    background: var(--mainColor);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.quiz_result_retry_btn:hover,
.quiz_result_home_btn:hover,
.quiz_result_playground_btn:hover {
    box-shadow: 5px 5px 10px 5px #e2e2e2;
}

.quiz_result_retry_icon {
    position: absolute;
    height: 4rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.quiz_result_home_icon {
    position: absolute;
    height: 4rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.quiz_result_playground_icon {
    position: absolute;
    height: 4rem;
    width: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.quiz_result_retry_icon,
.quiz_result_home_icon {
    font-size: 2rem;
}

.quiz_result_playground_icon {
    font-size: 2.6rem;
}

.quiz_result_retry_text {
    transform: translateX(50px);
}

.quiz_result_home_text,
.quiz_result_playground_text {
    transform: translateX(55px);
}

.quiz_result_retry_btn:hover .quiz_result_retry_icon,
.quiz_result_home_btn:hover .quiz_result_home_icon,
.quiz_result_playground_btn:hover .quiz_result_playground_icon {
    /*아이콘 hover위치*/
    width: 15rem;
}

.quiz_result_retry_btn:hover .quiz_result_retry_text,
.quiz_result_home_btn:hover .quiz_result_home_text,
.quiz_result_playground_btn:hover .quiz_result_playground_text {
    transition: all 0.5s;
    opacity: 0;
}

.quiz_result_retry_btn:focus,
.quiz_result_home_btn:focus,
.quiz_result_playground_btn:focus {
    outline: none;
}

.quiz_result_retry_btn:active .quiz_result_retry_icon,
.quiz_result_home_btn:active .quiz_result_home_icon,
.quiz_result_playground_btn:active .quiz_result_playground_icon {
    transform: scale(0.85);
}

/* Modal */
.quiz_result_modal {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.quiz_result_modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 600px;
    height: auto;
    background-color: #fefefe;
    margin: auto;
    padding: 4rem;
    border: 1px solid #d9d9d9;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    gap: 0.1rem;
}

.quiz_result_modal_text {
    font-size: 2.8rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 2rem;
}

.quiz_result_modal_text span {
    color: var(--mainColor);
}

.quiz_result_modal_btn {
    color: #fff;
    background: var(--mainColor);
    border: 2px solid var(--mainColor);
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background-color 0.3s;
}

.quiz_result_modal_btn:hover {
    background: #fff;
    color: var(--mainColor);
}
