.myReview_backgroundImages {
    background-image: url("/images/Background_Image/itachi.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}

/* Title */
.myReview_title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

/* Content */
.myReview_content_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2.5rem;
}

/* Left */
.myReview_menu_box {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 610px;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
}

.myReview_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    cursor: pointer;
}

.myReview_menu_tab {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    padding: 5rem 0;
    text-align: center;
    border-bottom: 2px solid #d9d9d9;
}

.myReview_menu_tab:last-of-type {
    border-bottom-style: none;
}

.myReview_menu_tab > a {
    font-size: 2.8rem;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}

.myReview_menu_tab > a:hover {
    color: var(--subColor);
}

.myReview_selected_tab {
    color: var(--mainColor);
}

/* Right */
.myReview_list_box {
    display: grid;
    width: 925px;
}

/* Data Empty */
.myReview_list_data_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.myReview_list_data_empty_text {
    font-size: 3.6rem;
    color: var(--descColor);
}

/* Data Exist */
.myReview_list_data_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.myReview_list_item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 216.25px;
    height: 320px;
    gap: 1rem;
    overflow: hidden;
}

.myReview_list_img_box {
    width: 216.25px;
    height: 275px;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.myReview_list_img_box > a > img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    transition: transform 0.5s ease;
}

.myReview_list_img_box > a > img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.myReview_list_info_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myReview_list_comment {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    color: #91d8e4;
}

.myReview_list_comment > span {
    color: var(--descColor);
    font-weight: 500;
}

.myReview_list_scoreAvg {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    color: #fff500;
}

.myReview_list_scoreAvg > span {
    color: var(--descColor);
    font-weight: 500;
}

.myReview_list_title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: var(--mainColor);
    position: absolute;
    width: 100%;
    bottom: -3.7rem;
    border: 2px solid var(--mainColor);
    border-radius: 1rem 1rem 0 0;
    transition: bottom 0.5s ease;
}

.myReview_list_title_box > span {
    width: 90%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myReview_list_item:hover .myReview_list_title_box {
    background: #fff;
    color: var(--mainColor);
    transition: 0.7s;
    bottom: -0.2rem;
}

/* Pagination */
.myReview_pagination_box {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.myReview_pagination_box > a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--mainColor);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid var(--mainColor);
    transition: 0.3s;
}

.myReview_pagination_box > a.active {
    background: var(--mainColor);
    color: #fff;
}

.myReview_pagination_box > a:hover {
    background: var(--mainColor);
    color: #fff;
    cursor: pointer;
}

.myReview_pagination_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    width: 32px;
    height: 32px;
    background: #fff;
    color: var(--mainColor);
    border-radius: 100%;
    border: 1px solid var(--mainColor);
}

.myReview_pagination_btn:hover {
    background-color: var(--mainColor);
    color: #fff;
    cursor: pointer;
}

.myReview_pagination_btn:hover > i {
    color: #fff;
}

.myReview_pagination_btn > i {
    color: var(--mainColor);
}

.myReview_pageNum {
    display: flex;
}

.myReview_pagination_now_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    width: 32px;
    height: 32px;
    background: var(--mainColor);
    color: #fff;
    border-radius: 100%;
    border: 1px solid var(--mainColor);
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: grey;
}
