<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Who's DucKing</title>
</head>

<body style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; font-family: Arial, sans-serif; background-color: #000;">
<div class="container" style="text-align: center; background: #000; padding: 40px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
    <div class="logo" style="width: 100px; height: 100px; background-color: #fff; border-radius: 50%; margin: 0 auto; margin-bottom: 20px;">
        <img src="cid:logoImage" alt="로고" style="width: 100%; height: 100%; border-radius: 50%;">
    </div>
    <h2 class="email_title" style="margin-bottom: 20px; font-size: 36px; font-weight: 700; color: #fff; text-shadow: 0 0 10px #ff8b00;">🎉 럭키드로우 경품 당첨 🎉</h2>
    <div class="prize" style="width: 400px; height: 400px; background-color: #fff;  margin: 0 auto; margin-bottom: 20px;">
        <img src="cid:prizeImage" alt="경품" style="width: 100%; height: 100%; border-radius: 10%;">
    </div>
    <p class="prize_comments" style="margin: 10px 0; font-size: 28px; font-weight: 700; color: #fff; text-shadow: 0 0 10px #ff8b00;" th:text="${nickname} + '님, [' + ${prizeName} + '] 당첨을 축하드립니다!'">당첨을 축하드립니다.</p>
    <p class="prize_desc" style="margin: 10px 0; color: #fff; font-size: 20px; font-weight: 700; text-shadow: 0 0 10px #ff8b00;">마이페이지에 입력하신 주소로 경품이 배송될 예정이오니 주소를 다시 한 번 확인해 주세요.</p>
</div>
</body>
</html>