<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/10duck.ico">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
</head>

<body class="myReview_backgroundImage">
    <!-- Header -->
    <div th:insert="~{fragments/header :: header}"></div>

    <!-- Container -->
    <main id="container">
        <!-- Sub Component : Title -->
        <section class="subCommon">
            <div class="inner_box" data-aos="fade-up">
                <div class="myReview_title_box">
                    <h2 class="subTitle">나의 글 목록</h2>
                </div>
            </div>
        </section>

        <!-- Sub Component : Contents -->
        <section class="subContents">
            <div class="inner_box" data-aos="fade-up">

                <!-- My Review Content Box -->
                <div class="myReview_content_box">

                    <!-- Left : Menu List -->
                    <div class="myReview_menu_box">
                        <ul class="myReview_menu">
                            <!-- First Tab -->
                            <li class="myReview_menu_tab">
                                <a href="/myPage/reviews" class="myReview_selected_tab">나의 리뷰</a>
                            </li>

                            <!-- Second Tab -->
                            <li class="myReview_menu_tab">
                                <a href="/myPage/boards">나의 게시글</a>
                            </li>

                            <!-- Third Tab -->
                            <li class="myReview_menu_tab">
                                <a href="/myPage/bookmarks">나의 북마크</a>
                            </li>

                            <!-- Fourth Tab -->
                            <li class="myReview_menu_tab">
                                <a href="/myPage/requests">나의 건의 내역</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Right : My Review List -->
                    <div class="myReview_list_box">
                        <!-- Data Empty -->
                        <div th:if="${myReviews.content.isEmpty()}" class="myReview_list_data_empty">
                            <span class="myReview_list_data_empty_text">나의 리뷰가 없습니다.</span>
                        </div>

                        <!-- Data Exist -->
                        <div th:if="${!myReviews.content.isEmpty()}" class="myReview_list_data_exist">
                            <div class="myReview_list_data_box">
                                <ul class="myReview_list_item" th:each="review : ${myReviews}">
                                    <li class="myReview_list_img_box">
                                        <a th:href="@{/animations/{animationId}(animationId=${review.animationId})}">
                                            <img th:src="@{/image/ani/{imageName}(imageName=${review.imageName})}"
                                                 alt="애니메이션 포스터">
                                        </a>
                                    </li>
                                    <li class="myReview_list_info_box">
                                        <div class="myReview_list_comment">
                                            <i class="fa-solid fa-comment"></i>
                                            <span th:text="${review.totalComment}"><!-- 실제 데이터 -->50</span>
                                        </div>
                                        <div class="myReview_list_scoreAvg">
                                            <i class="fa-solid fa-star"></i>
                                            <span th:text="${review.score} + ' / 5.0'"><!-- 실제 데이터 -->4.7 / 5.0</span>
                                        </div>
                                    </li>
                                    <li class="myReview_list_title_box">
                                        <span th:text="${review.title}"><!-- 실제 데이터-->주술회전</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bottom : Pagination --> <!-- 타임리프 값 변경 예정 -->
                <div class="myReview_pagination_box">
                    <!-- Double Left Arrow -->
                    <a class="myReview_pagination_btn" th:classappend="${myReviews.first} ? 'disabled' : ''"
                       th:href="@{/myPage/reviews(page=0)}">
                        <!-- Double Left Icon -->
                        <i class="fa-solid fa-angles-left"></i>
                    </a>

                    <!-- Left Arrow -->
                    <a class="myReview_pagination_btn" th:classappend="${myReviews.first} ? 'disabled' : ''"
                       th:href="@{/myPage/reviews(page=${myReviews.number - 1})}">
                        <!-- Left Icon -->
                        <i class="fa-solid fa-angle-left"></i>
                    </a>

                    <!-- Page Number -->
                    <div th:if="${myReviews.totalPages > 0}" class="myReview_pageNum">
                                    <span
                                            th:each="i : ${#numbers.sequence(((myReviews.number / 10) * 10) + 1, (((myReviews.number / 10) + 1) * 10))}">
                                          <a th:if="${i <= myReviews.totalPages}"
                                             th:classappend="${i == myReviews.number + 1} ? 'myReview_pagination_now_btn' : 'myReview_pagination_btn'"
                                             th:href="@{/myPage/reviews(page=${i - 1})}" th:text="${i}"
                                             style="margin: 0 3px;">1</a>
                                    </span>
                    </div>
                    <span th:if="${myReviews.totalPages == 0}">
                                    <a class="myReview_pagination_now_btn" href="#">1</a>
                              </span>

                    <!-- Right Arrow -->
                    <a class="myReview_pagination_btn" th:classappend="${myReviews.last} ? 'disabled' : ''"
                       th:href="@{/myPage/reviews(page=${myReviews.number + 1})}">
                        <!-- Right Icon -->
                        <i class="fa-solid fa-angle-right"></i>
                    </a>

                    <!-- Double Right Arrow -->
                    <a class="myReview_pagination_btn" th:classappend="${myReviews.last} ? 'disabled' : ''"
                       th:href="@{/myPage/reviews(page=${myReviews.totalPages - 1})}">
                        <!-- Double Right Icon -->
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>