<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Who's DucKing</title>
  <link rel="icon" href="/images/10duck.ico">
  <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css" />
  <!-- AOS -->
  <link rel="stylesheet" href="/vendor/aos/aos.css" />
  <!-- Animate -->
  <link rel="stylesheet" href="/vendor/animate/animate.min.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="/css/Common.css" />
  <link rel="stylesheet" href="/css/modal/LevelUpModal.css" />
  <!-- jQuery -->
  <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
  <!-- swiper -->
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- AOS -->
  <script src="/vendor/aos/aos.js"></script>
  <!-- FontAwesome -->
  <script
          src="https://kit.fontawesome.com/2f3ee9d12e.js"
          crossorigin="anonymous"
  ></script>
  <!-- JavaScript -->
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/review/reviewWrite.js"></script>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  <style>
    .hidden {
      display: none;
    }
    .short-content {
      white-space: pre-line;
    }
  </style>
  <link rel="stylesheet" href="/css/modal/LevelUpModal.css">
</head>
<body class="reviewWrite_background_img">
<div th:insert="~{fragments/header :: header}"></div>
<div id="modalContainer"></div>
<div class="review-body">
  <h1 class="page-title">리뷰 게시판</h1>
  <div class="ani-container">
    <img th:src="@{/image/ani/{imageName}(imageName=${aniDetailInfo.imageName})}" alt="애니 포스터" class="ani-img" />
    <input type="hidden" id="animation-id" th:value="${aniDetailInfo.id}"/>
    <div class="ani-info-box">
      <div class="title-bar">
        <h3 class="ani-title-box">
          <span class="ani-title" th:text="${aniDetailInfo.name}"></span>
        </h3>
        <div class="grade">
          <img th:src="'/images/AgeLimit/' + (${aniDetailInfo.rating.description == '성인 관람가' ? 'Age_19' : (aniDetailInfo.rating.description == '15세 관람가' ? 'Age_15' : (aniDetailInfo.rating.description == '12세 관람가' ? 'Age_12' : 'Age_ALL'))}) + '.png'" alt="age" class="grade" />
        </div>
      </div>
      <div class="tag-list">
        <ul class="tags">
          <li th:each="aniGenre : ${aniDetailInfo.animationGenres}" class="tag-name" th:text="${aniGenre.genre.name}"></li>
        </ul>
        <span class="is-complete" th:text="${aniDetailInfo.isFinished ? '완결' : '진행중'}"></span>
      </div>
      <div class="ani-info-box2">
        <p class="author-name"><b th:text="${aniDetailInfo.author}">작가 이름</b></p>
        <p class="broad-date" th:text="${aniDetailInfo.firstDate}">방영 시작일</p>
      </div>
      <div class="synopsis" th:text="${aniDetailInfo.description}"></div>
      <div class="score-box">
        <i class="fa-solid fa-star"></i>
        <div class="score">
          <span class="ani-score" th:text="${totalReviews[0].score} + ' / 5.0'">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="review-count-container">
  <p class="review-count">
    <i class="fa-solid fa-comment review-comment-icon"></i>
    <span th:text="${totalReviews[0].reviewCount}"></span>
  </p>
  <h1 class="recommend-write-text" th:if="${totalReviews[0].reviewCount} == 0 and ${isAuthenticated}">
    첫 댓글을 작성하고 추가 포인트 받아가세요!
  </h1>
  </div>
  <div th:if="${not #strings.isEmpty(param.error)}" class="alert alert-danger review-count-alert">
    <p th:text="${param.error}"></p>
  </div>
  <form th:action="@{/animations/{id}/review(id=${aniDetailInfo.id})}" method="post" class="write-box"
        th:if="${isAuthenticated and #strings.isEmpty(param.error)}">
    <input type="hidden" name="userId" th:value="${userId}" id="userId"/>
    <input type="hidden" name="nickname" th:value="${nickname}"/>
    <div class="row-box">
      <h3 th:text="${nickname}" class="review-user" id="review-user"></h3>
      <div class="row-box">
        <p>스포일러 포함</p>
        <input name="isSpoiler" type="checkbox" id="check-spoiler" class="check-spoiler"/>
        <input type="hidden" name="_isSpoiler" value="on"/>
        <label for="check-spoiler" class="check-switch">
          <span class="change-check-btn"></span>
        </label>
      </div>
    </div>
    <textarea th:name="content" id="review-content"
              placeholder="문제의 소지가 있을 댓글은 경고 조치 없이 삭제되며 징계 대상이 될 수 있습니다."
              rows="5" cols="50" class="review-content"></textarea>
    <div class="letter-count" id="count">0/500</div>
    <div class="row-box review-write-box">
      <div class="stars-container">
        <input type="hidden" name="score" id="score-number" value="0"/>
      </div>
      <input type="submit" value="등록" class="write-review-submit-btn"/>
    </div>
  </form>

  <div class="order-box" th:if="${reviewCount != 0}">
    <div class="row-box">
      <button id="recent" class="order-btn" >최신 순</button>
      <button id="like" class="order-btn" >좋아요 순</button>
    </div>
    <div class="row-box">
      <p>스포일러 포함</p>
      <input type="checkbox" id="show-spoiler" class="check-spoiler" />
      <label for="show-spoiler" class="check-switch">
        <span class="change-check-btn"></span>
      </label>
    </div>
  </div>
  <div class="reviews-container">
    <div id="recent-reviews" th:if="${#lists.size(recentReviews) > 0}">
      <div th:each="review, iterStat : ${recentReviews}" class="review-list" th:id="'review-id-' + ${review.id}">
        <div class="row-box">
          <input type="hidden" th:value="${review.id}" class="review-id"/>
          <input type="hidden" th:value="${review.isSpoiler()}" class="is-reviews-spoiler"/>
          <p th:text="${review.user.nickname}" class="review-writer"></p>
          <i class="fa-solid fa-ellipsis-vertical" th:id="'show-modal-' + ${iterStat.index}" th:if="${review.getUser().id} == ${userId}"></i>
          <div class="update-modal-container" th:id="'modal-container-' + ${iterStat.index}" th:if="${review.getUser().id} == ${userId}">
            <button class="update-review-btn" th:data-index="${iterStat.index}" th:data-review-id="${review.id}">수정</button>
            <hr />
            <button class="delete-review-btn" th:data-review-id="${review.id}">삭제</button>
          </div>
        </div>
        <div class="review-comment">
          <div th:text="${review.content}" th:attr="data-full-content=${review.content}" class="short-content"></div>
          <div class="extra-content" style="display: none;"></div>
          <div class="toggle-read-on">[더보기]</div>
          <div class="toggle-read-off" style="display: none;">[닫기]</div>
        </div>
        <div class="row-box">
          <span th:text="${#temporals.format(review.writeDate, 'yyyy-MM-dd HH:mm')}"></span>
          <div th:if="${isAuthenticated}">
            <button id="recommend-like" class="recommend-btn" th:onclick="'javascript:likeReview(' + ${review.id} + ', ' + ${review.user.id} + ');'">
              <i class="fa-regular fa-thumbs-up"></i> <span th:text="${review.likeCount}"></span>
            </button>
            <button id="recommend-dislike" class="recommend-btn" th:onclick="'javascript:dislikeReview(' + ${review.id} + ', ' + ${review.user.id} + ');'">
              <i class="fa-regular fa-thumbs-down"></i> <span th:text="${review.dislikeCount}"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div th:each="el : ${reviewLikes}" class="liked-user" style="display: none">
      <div class="review-likes-container" style="display: flex">
        <p th:text="${el.getUserId()}" th:id="'like-user-id'+${el.getUserId()}" class="like-user-id"></p>
        <p th:text="${el.getReviewLikeId()}"></p>
        <p th:text="${el.getReviewId()}"></p>
        <p th:text="${el.getIsLike()}"></p>
        <p th:text="${el.getIsDislike()}"></p>
      </div>
    </div>
    <div id="like-reviews" th:if="${#lists.size(topReviews) > 0}">
      <div th:each="review, iterStat : ${topReviews}" class="review-list" th:id="'review-id-' + ${review.id}">
        <div class="row-box">
          <input type="hidden" th:value="${review.id}" class="review-id"/>
          <input type="hidden" th:value="${review.isSpoiler()}" class="is-reviews-spoiler"/>
          <p th:text="${review.user.nickname}" class="review-writer">
            <span th:if="${iterStat.index < 3 && review.likeCount > 5}" class="best-icon">BEST</span>
          </p>
          <i class="fa-solid fa-ellipsis-vertical" th:id="'show-modal-' + ${iterStat.index}" th:if="${review.getUser().id} == ${userId}"></i>
          <div class="update-modal-container" th:id="'modal-container-' + ${iterStat.index}" th:if="${review.getUser().id} == ${userId}">
            <button class="update-review-btn" th:data-index="${iterStat.index}" th:data-review-id="${review.id}">수정</button>
            <hr />
            <button class="delete-review-btn" th:data-review-id="${review.id}">삭제</button>
          </div>
        </div>
        <div class="review-comment">
          <div th:utext="${review.content.replace('\n', '<br/>')}" th:attr="data-full-content=${review.content}" class="short-content"></div>
          <div class="extra-content" style="display: none;"></div>
          <div class="toggle-read-on">[더보기]</div>
          <div class="toggle-read-off" style="display: none;">[닫기]</div>
        </div>
        <div class="row-box">
          <span th:text="${#temporals.format(review.writeDate, 'yyyy-MM-dd HH:mm')}"></span>
          <div th:if="${isAuthenticated}">
              <button id="recommend-like" class="recommend-btn" th:onclick="'javascript:likeReview(' + ${review.id} + ', ' + ${review.user.id} + ');'">
              <i class="fa-regular fa-thumbs-up review-like-icon"></i> <span th:text="${review.likeCount}"></span>
            </button>
            <button id="recommend-dislike" class="recommend-btn" th:onclick="'javascript:dislikeReview(' + ${review.id} + ', ' + ${review.user.id} + ');'">
              <i class="fa-regular fa-thumbs-down review-dislike-icon"></i> <span th:text="${review.dislikeCount}"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>

<!-- 레벨업 모달 -->
<div id="levelUp_modal" class="levelUp_modal">
  <div class="levelUp_modal_content">
    <span class="levelUp_modal_close">&times;</span>
    <p>레벨업을 축하드립니다!</p>
  </div>
</div>
<script type="text/javascript" src="/js/modal/levelUpModal.js"></script>
</body>
</html>