<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/10duck.ico">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/search/searchAll.js"></script>
</head>
<body>
    <!-- Header -->
    <div th:insert="~{fragments/header :: header}"></div>

    <!-- Container -->
    <main id="container">
        <!-- Sub Component : Title -->
        <section class="subCommon">
            <div class="inner_box" data-aos="fade-up">
                <div class="searchAll_title_box">
                    <h2 class="subTitle">검색 결과</h2>
                </div>
                <div class="searchAll_line"></div>
            </div>
        </section>

        <!-- Sub Component : Contents -->
        <section class="subContents">
            <div class="inner_box" data-aos="fade-up">

                <!-- Search All Content Box -->
                <div class="searchAll_content_box">

                    <!-- Left : Menu List -->
                    <div class="searchAll_menu_box">
                        <ul class="searchAll_menu">
                            <!-- First Tab -->
                            <li class="searchAll_menu_tab">
                                <a class="searchAll_selected_tab">전체 검색</a>
                            </li>

                            <!-- Second Tab -->
                            <li class="searchAll_menu_tab">
                                <a th:href="@{/search/animation(name=${name})}">애니</a>
                            </li>

                            <!-- Third Tab -->
                            <li class="searchAll_menu_tab">
                                <a th:href="@{/search/board(name=${name}, page=0)}">커뮤니티</a>
                            </li>

                            <!-- Fourth Tab -->
                            <li class="searchAll_menu_tab">
                                <a th:href="@{/search/announcement(name=${name})}">공지사항</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Right : All Search Result -->
                    <div class="searchAll_list_box">

                        <!-- 1. Ani Search Result -->
                        <div class="searchAll_ani_list">

                            <!-- Title -->
                            <div class="searchAll_ani_title_box">
                                <h2 class="searchAll_ani_title">애니</h2>
                                <a th:href="@{/search/animation(name=${name})}" class="searchAll_ani_more_btn" th:if="${!animations.isEmpty()}"
                                   style="display: none;">
                                    더보기
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="searchAll_ani_list_line"></div>

                            <!-- Data Empty -->
                            <div class="searchAll_ani_list_data_empty" th:if="${animations.isEmpty()}">
                                <span class="searchAll_ani_list_data_empty_text">검색한 애니 결과가 없습니다.</span>
                            </div>

                            <!-- Data Exist -->
                            <div th:if="${!animations.isEmpty()}" class="searchAll_ani_list_data_exist">
                                <div class="searchAll_ani_list_data_box">
                                    <ul class="searchAll_ani_list_item" th:each="animation : ${animations}">
                                        <li class="searchAll_ani_list_img_box">
                                            <a th:href="@{/animations/{id}(id=${animation.id})}">
                                                <img th:src="@{/image/ani/{imageName}(imageName=${animation.imageName})}"
                                                     alt="애니메이션 포스터">
                                            </a>
                                        </li>
                                        <li class="searchAll_ani_list_info_box">
                                            <div class="searchAll_ani_list_comment">
                                                <i class="fa-solid fa-comment"></i>
                                                <span th:text="${animation.reviewCount}">50</span>
                                            </div>
                                            <div class="searchAll_ani_list_scoreAvg">
                                                <i class="fa-solid fa-star"></i>
                                                <span th:text="${animation.score} + ' / 5.0'">4.7 / 5.0</span>
                                            </div>
                                        </li>
                                        <li class="searchAll_ani_list_title_box">
                                            <span th:text="${animation.title}">주술회전</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- 2. FreeBoard Search Result -->
                        <div class="searchAll_freeBoard_list">

                            <!-- Title -->
                            <div class="searchAll_freeBoard_title_box">
                                <h2 class="searchAll_freeBoard_title">커뮤니티</h2>
                                <a href="" class="searchAll_freeBoard_more_btn" th:if="${!boards.isEmpty()}"
                                   style="display: none;">
                                    더보기
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="searchAll_freeBoard_list_line"></div>

                            <!-- Data Empty -->
                            <div class="searchAll_freeBoard_list_data_empty" th:if="${boards.isEmpty()}">
                                                <span class="searchAll_freeBoard_list_data_empty_text">검색한 게시글 결과가
                                                      없습니다.</span>
                            </div>

                            <!-- Data Exist -->
                            <div th:if="${!boards.isEmpty()}" class="searchAll_freeBoard_list_data_box" th:each="board : ${boards}">
                                <ul class="searchAll_freeBoard_list_item">
                                    <a th:href="@{/board/{id}(id=${board.id})}" class="searchAll_freeBoard_list_item_one">
                                        <li class="searchAll_freeBoard_list_title search_result_title"
                                            th:text="${board.title}">
                                            제목
                                            <button class="searchAll_more_title_btn"
                                                    style="display: none;">더보기</button>
                                        </li>
                                    </a>
                                    <li class="searchAll_freeBoard_list_info">
                                                            <span class="searchAll_freeBoard_list_content search_result_content"
                                                                  th:text="${board.content}">게시글 내용</span>
                                        <button class="searchAll_more_content_btn"
                                                style="display: none;">더보기</button>
                                    </li>
                                </ul>
                                <div class="searchAll_freeBoard_list_line"></div>
                            </div>
                        </div>

                        <!-- 3. announcement Search Result -->
                        <div class="searchAll_announcement_list">

                            <!-- Title -->
                            <div class="searchAll_announcement_title_box">
                                <h2 class="searchAll_announcement_title">공지사항</h2>
                                <a th:href="@{/search/announcement(name=${name})}" class="searchAll_announcement_more_btn" th:if="${!announcements.isEmpty()}"
                                   style="display: none;">
                                    더보기
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="searchAll_announcement_list_line"></div>

                            <!-- Data Empty -->
                            <div class="searchAll_announcement_list_data_empty" th:if="${announcements.isEmpty()}">
                                                <span class="searchAll_announcement_list_data_empty_text">검색한 공지사항 결과가
                                                      없습니다.</span>
                            </div>

                            <!-- Data Exist -->
                            <div th:if="${!announcements.isEmpty()}" class="searchAll_announcement_list_data_box" th:each="announcement : ${announcements}">
                                <ul class="searchAll_announcement_list_item">
                                    <a th:href="@{/announcement(id=${announcement.id})}" class="searchAll_announcement_list_item_one">
                                        <li class="searchAll_announcement_list_title search_result_title"
                                            th:text="${announcement.title}">
                                            제목
                                            <button class="searchAll_more_title_btn"
                                                    style="display: none;">더보기</button>
                                        </li>

                                    </a>
                                    <li class="searchAll_announcement_list_info">
                                                            <span class="searchAll_announcement_list_content search_result_content"
                                                                  th:text="${announcement.content}">공지사항 내용</span>
                                        <button class="searchAll_more_content_btn"
                                                style="display: none;">더보기</button>
                                    </li>
                                </ul>
                                <div class="searchAll_announcement_list_line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>