<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Who's DucKing</title>
    <link rel="icon" href="/images/10duck.ico">
    <link rel="stylesheet" href="/css/admin/AdminHeader.css" />
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
</head>
<body>
<header class="admin_header" th:fragment="header">
    <div class="lock_div">
        <a class="lock_a" href="/admin">🔐</a>
    </div>
</header>
</body>
</html>