<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Who's DucKing</title>
    <link rel="icon" href="/images/10duck.ico">
    <link rel="stylesheet" href="/css/prize.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/prize.js"></script>
</head>
<body>
<div class="container">
    <h2>럭키 드로우</h2>
    <div class="header">
        <div class="toggle-buttons">
            <button id="currentPrizesBtn">현재 진행 중인 경품</button>
            <button id="expiredPrizesBtn">만료된 경품</button>
        </div>
        <button id="openModalBtn" class="register-button">경품 등록</button>
    </div>
    <div class="table-container">
        <!-- 현재 진행 중인 경품 테이블 -->
        <table id="currentPrizesTable">
            <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>시작일자</th>
                <th>종료일시</th>
                <th>등급</th>
            </tr>
            </thead>
            <tbody id="currentPrizes">
            <tr th:each="prize, stat : ${currentPrizes.content}">
                <td><a th:href="@{/prizes/{id}(id=${prize.id})}" th:text="${stat.index + 1 + (currentPrizes.number * currentPrizes.size)}"></a></td>
                <td><a th:href="@{/prizes/{id}(id=${prize.id})}" th:text="${prize.name}"></a></td>
                <td th:text="${prize.startDate}"></td>
                <td th:text="${#temporals.format(prize.endDateTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${prize.grade}"></td>
            </tr>
            </tbody>
        </table>

        <!-- 만료된 경품 테이블 -->
        <table id="expiredPrizesTable" style="display: none;">
            <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>시작일자</th>
                <th>종료일시</th>
                <th>등급</th>
                <th>당첨자 닉네임</th> <!-- 당첨자 닉네임 열 추가 -->
            </tr>
            </thead>
            <tbody id="expiredPrizes">
            <tr th:each="prize, stat : ${expiredPrizes.content}">
                <td><a th:href="@{/prizes/{id}(id=${prize.id})}" th:text="${stat.index + 1 + (expiredPrizes.number * expiredPrizes.size)}"></a></td>
                <td><a th:href="@{/prizes/{id}(id=${prize.id})}" th:text="${prize.name}"></a></td>
                <td th:text="${prize.startDate}"></td>
                <td th:text="${#temporals.format(prize.endDateTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${prize.grade}"></td>
                <td th:text="${prize.nickname}"></td> <!-- 당첨자 닉네임 데이터 추가 -->
            </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <a class="paging" th:if="${currentPrizes.hasPrevious()}" th:href="@{/admin/prize(page=${currentPrizes.number - 1})}">이전</a>
        <span><span th:text="${currentPrizes.number + 1}">1</span> / <span th:text="${currentPrizes.totalPages}">1</span></span>
        <a class="paging" th:if="${currentPrizes.hasNext()}" th:href="@{/admin/prize(page=${currentPrizes.number + 1})}">다음</a>
    </div>
</div>

<!-- 경품 등록 모달 -->
<div id="prizeModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>경품 등록</h2>
        <form action="/admin/add-prize" method="post" enctype="multipart/form-data" id="prizeForm">
            <label for="name">이름:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="grade">등급:</label>
            <select id="grade" name="grade" required>
                <option value="N">N</option>
                <option value="R">R</option>
                <option value="SR">SR</option>
                <option value="UR">UR</option>
            </select><br>

            <label for="endDateTime">종료일시:</label>
            <input type="datetime-local" id="endDateTime" name="endDateTime" required><br>

            <label for="image">이미지:</label>
            <input type="file" id="image" name="image" accept="image/*" required><br>

            <button type="submit">등록</button>
        </form>
    </div>
</div>

</body>
</html>