<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/10duck.ico">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/notice/announcement.js"></script>
</head>

<body>
    <!-- Header -->
    <div th:insert="~{fragments/header :: header}"></div>

    <!-- Container -->
    <main id="container">
        <!-- 1. Main Carousel -->
        <section class="announcement_carousel">
            <div class="inner_box" data-aos="fade-up">
                <div class="mv-cnt__announcement swiper">
                    <ul class="mv-cnt__items swiper-wrapper">
                        <li class="swiper-slide">
                            <div class="mv-cnt__img-box">
                                                <span class="mv-cnt__img"
                                                      style="background-image: url(/images/MainCarousel/MainVisual.png);"></span>
                            </div>
                            <div class="mv-cnt__text">
                                <p class="mv-cnt__desc">
                                    리뷰와 럭키드로우를 한번에?!
                                </p>
                                <h2 class="mv-cnt__title">
                                    진격의 거인
                                </h2>
                                <a href="#none" class="mv-cnt__link">
                                    바로가기
                                </a>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="mv-cnt__img-box">
                                                <span class="mv-cnt__img"
                                                      style="background-image: url(/images/MainCarousel/MainVisual2.png);"></span>
                            </div>
                            <div class="mv-cnt__text">
                                <p class="mv-cnt__desc">
                                    머구와 함께하는 지구 지키기 프로젝트
                                </p>
                                <h2 class="mv-cnt__title">
                                    머구를 통해 환경을 지켜봐요!
                                </h2>
                                <a href="#none" class="mv-cnt__link">
                                    바로가기
                                </a>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="mv-cnt__img-box">
                                                <span class="mv-cnt__img"
                                                      style="background-image: url(/images/MainCarousel/MainVisual3.png);"></span>
                            </div>
                            <div class="mv-cnt__text">
                                <p class="mv-cnt__desc">
                                    머구와 함께하는 지구 지키기 프로젝트
                                </p>
                                <h2 class="mv-cnt__title">
                                    머구를 통해 환경을 지켜봐요!
                                </h2>
                                <a href="#none" class="mv-cnt__link">
                                    바로가기
                                </a>
                            </div>
                        </li>
                    </ul>
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- Navigation -->
                    <div class="swiper-button-next swiper-next_btn"></div>
                    <div class="swiper-button-prev swiper-prev_btn"></div>
                </div>
            </div>
        </section>

        <section class="announcement_main">
            <div class="inner_box" data-aos="fade-up">
                <!-- 2. Announcement Tab -->
                <div class="announcement_tab">
                    <a href="#" class="announcement_tab_item active">공지사항</a>
                    <a href="/faq"
                       class="announcement_tab_item">자주 묻는 질문</a>
                </div>

                <!-- 3. Announcement List -->
                <div class="announcement_list">
                    <div class="announcement_list_box">
                        <ul class="announcement_list_items">
                            <!--  공지사항 리스트 -->
                            <li class="announcement_list_item" th:each="notice : ${notices}">
                                <div class="announcement_list_item_box">
                                    <div class="announcement_list_item_box_left">
                                        <span class="announcement_list_item_box_notice">공지</span>
                                        <span class="announcement_list_item_box_title"
                                              th:text="${notice.title}">공지사항 제목</span>
                                    </div>
                                    <div class="announcement_list_item_box_right">
                                                            <span class="announcement_list_item_box_date"
                                                                  th:text="${notice.writeDate}">2024-06-30</span>
                                        <button class="announcement_list_item_box_moreBtn">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="announcement_list_item_detail">
                                                      <span class="announcement_list_item_detail_content"
                                                            th:text="${notice.content}">공지사항 내용</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 4. Pagination -->
                <div class="announcement_pagination">
                    <!-- Double Left Arrow -->
                    <a class="announcement_pagination_btn"
                       th:classappend="${notices.first} ? 'disabled' : ''" th:href="@{/announcement(page=0)}">
                        <!-- Double Left Icon -->
                        <i class="fa-solid fa-angles-left"></i>
                    </a>

                    <!-- Left Arrow -->
                    <a class="announcement_pagination_btn"
                       th:classappend="${notices.first} ? 'disabled' : ''" th:href="@{/announcement(page=${notices.number - 1})}">
                        <!-- Left Icon -->
                        <i class="fa-solid fa-angle-left"></i>
                    </a>

                    <!-- Page Number -->
                    <span th:if="${notices.totalPages > 0}" th:each="i : ${#numbers.sequence(1, notices.totalPages)}">
                                    <a th:classappend="${i == notices.number + 1} ? 'announcement_pagination_now_btn' : 'announcement_pagination_btn'"
                                       th:href="@{/announcement(page=${i - 1})}" th:text="${i}">1</a>
                              </span>
                    <span th:if="${notices.totalPages == 0}">
                                    <a class="announcement_pagination_now_btn" href="#">1</a>
                              </span>

                    <!-- Right Arrow -->
                    <a class="announcement_pagination_btn"
                       th:classappend="${notices.last} ? 'disabled' : ''" th:href="@{/announcement(page=${notices.number + 1})}">
                        <!-- Right Icon -->
                        <i class="fa-solid fa-angle-right"></i>
                    </a>

                    <!-- Double Right Arrow -->
                    <a class="announcement_pagination_btn"
                       th:classappend="${notices.last} ? 'disabled' : ''" th:href="@{/announcement(page=${notices.totalPages - 1})}">
                        <!-- Double Right Icon -->
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>