<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Who's DucKing</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/10duck.ico">
    <!-- Swiper -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/vendor/aos/aos.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Common.css" />

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery-3.7.1.min.js"></script>
    <!-- swiper -->
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="/vendor/aos/aos.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2f3ee9d12e.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/notice/faq.js"></script>

</head>
<body>
    <!-- Header -->
    <div th:insert="~{fragments/header :: header}"></div>

    <!-- Container -->
    <main id="container">
        <!-- 1. Main Carousel -->
        <section class="faq_carousel">
            <div class="inner_box" data-aos="fade-up">
                <div class="mv-cnt__faq swiper">
                    <ul class="mv-cnt__items swiper-wrapper">
                        <li class="swiper-slide">
                            <div class="mv-cnt__img-box">
                                                    <span class="mv-cnt__img"
                                                          style="background-image: url(/images/MainCarousel/MainVisual.png);"></span>
                            </div>
                            <div class="mv-cnt__text">
                                <p class="mv-cnt__desc">
                                    리뷰와 럭키드로우를 한번에?!
                                </p>
                                <h2 class="mv-cnt__title">
                                    진격의 거인
                                </h2>
                                <a href="#none" class="mv-cnt__link">
                                    바로가기
                                </a>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="mv-cnt__img-box">
                                                    <span class="mv-cnt__img"
                                                          style="background-image: url(/images/MainCarousel/MainVisual2.png);"></span>
                            </div>
                            <div class="mv-cnt__text">
                                <p class="mv-cnt__desc">
                                    머구와 함께하는 지구 지키기 프로젝트
                                </p>
                                <h2 class="mv-cnt__title">
                                    머구를 통해 환경을 지켜봐요!
                                </h2>
                                <a href="#none" class="mv-cnt__link">
                                    바로가기
                                </a>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="mv-cnt__img-box">
                                                    <span class="mv-cnt__img"
                                                          style="background-image: url(/images/MainCarousel/MainVisual3.png);"></span>
                            </div>
                            <div class="mv-cnt__text">
                                <p class="mv-cnt__desc">
                                    머구와 함께하는 지구 지키기 프로젝트
                                </p>
                                <h2 class="mv-cnt__title">
                                    머구를 통해 환경을 지켜봐요!
                                </h2>
                                <a href="#none" class="mv-cnt__link">
                                    바로가기
                                </a>
                            </div>
                        </li>
                    </ul>
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- Navigation -->
                    <div class="swiper-button-next swiper-next_btn"></div>
                    <div class="swiper-button-prev swiper-prev_btn"></div>
                </div>
            </div>
        </section>

        <section class="faq_main">
            <div class="inner_box" data-aos="fade-up">
                <!-- 2. Faq Tab -->
                <div class="faq_tab">
                    <a href="/announcement"
                       class="faq_tab_tab_item ">공지사항</a>
                    <a class="announcement_tab_item active">자주 묻는 질문</a>
                </div>

                <!-- 3. Faq List -->
                <div class="faq_list">
                    <div class="faq_list_box">
                        <ul class="faq_list_items">
                            <!--  Faq 리스트 -->
                            <li class="faq_list_item">
                                <div class="faq_list_item_box">
                                    <div class="faq_list_item_box_left">
                                        <span class="faq_list_item_box_notice">FAQ</span>
                                        <span class="faq_list_item_box_title">포인트를 얻는 방법에는 무엇이 있나요?</span>
                                    </div>
                                    <div class="faq_list_item_box_right">
                                        <span class="faq_list_item_box_date">2024-07-05</span>
                                        <button class="faq_list_item_box_moreBtn">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="faq_list_item_detail">
                                  <span class="faq_list_item_detail_content">
                                      ✅ 매일 출석할 때마다 1P가 지급됩니다. 일주일 연속 출석 시 추가로 3P가 지급됩니다! <br>
                                      ✅ 리뷰 작성 시 3P가 지급됩니다. 리뷰는 하루에 최대 3번만 작성할 수 있어요! <br>
                                      ✅ 회원가입 후 처음 작성한 리뷰와 게시글에 대해서는 추가 포인트가 지급됩니다. <br>
                                      ✅ 특정 애니메이션의 첫 번째 리뷰를 남기면 10P가 지급됩니다. <br>
                                      ✅ 신규 회원이 추천인을 기재하면 두 사용자에게 모두 20P씩 지급됩니다. <br>
                                  </span>
                                </div>
                            </li>

                            <!--  Faq 리스트 -->
                            <li class="faq_list_item">
                                <div class="faq_list_item_box">
                                    <div class="faq_list_item_box_left">
                                        <span class="faq_list_item_box_notice">FAQ</span>
                                        <span class="faq_list_item_box_title">경험치를 얻는 방법에는 무엇이 있나요?</span>
                                    </div>
                                    <div class="faq_list_item_box_right">
                                        <span class="faq_list_item_box_date">2024-07-05</span>
                                        <button class="faq_list_item_box_moreBtn">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="faq_list_item_detail">
                                  <span class="faq_list_item_detail_content">
                                      ✅ 매일 출석할 때마다 5XP가 지급됩니다. <br>
                                      ✅ 리뷰 작성 시 5XP가 지급됩니다. 리뷰는 하루에 최대 3번만 작성할 수 있어요! <br>
                                      ✅ 회원가입 후 처음 작성한 리뷰와 게시글에 대해서는 추가 경험치가 지급됩니다. <br>
                                      ✅ 특정 애니메이션의 첫 번째 리뷰를 남기면 20XP가 지급됩니다. <br>
                                  </span>
                                </div>
                            </li>

                            <!--  Faq 리스트 -->
                            <li class="faq_list_item">
                                <div class="faq_list_item_box">
                                    <div class="faq_list_item_box_left">
                                        <span class="faq_list_item_box_notice">FAQ</span>
                                        <span class="faq_list_item_box_title">레벨업 혜택에는 무엇이 있나요?</span>
                                    </div>
                                    <div class="faq_list_item_box_right">
                                        <span class="faq_list_item_box_date">2024-07-05</span>
                                        <button class="faq_list_item_box_moreBtn">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="faq_list_item_detail">
                                  <span class="faq_list_item_detail_content">
                                      ✅ 레벨이 높아질수록 높은 등급의 경품에 응모할 수 있습니다. <br>
                                      ✅ N 등급 ➡️ 누구나 응모 가능 <br>
                                      ✅ R 등급 ➡️ 4레벨부터 응모 가능 <br>
                                      ✅ SR 등급 ➡️ 7레벨부터 응모 가능 <br>
                                      ✅ UR 등급 ➡️ 10레벨만 응모 가능 <br>
                                  </span>
                                </div>
                            </li>

                            <!--  Faq 리스트 -->
                            <li class="faq_list_item">
                                <div class="faq_list_item_box">
                                    <div class="faq_list_item_box_left">
                                        <span class="faq_list_item_box_notice">FAQ</span>
                                        <span class="faq_list_item_box_title">리뷰를 남기고 싶은 애니가 목록에 없어요!</span>
                                    </div>
                                    <div class="faq_list_item_box_right">
                                        <span class="faq_list_item_box_date">2024-07-05</span>
                                        <button class="faq_list_item_box_moreBtn">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="faq_list_item_detail">
                                  <span class="faq_list_item_detail_content">
                                      ✅ 애니메이션 건의를 통해 관리자에게 요청해 보세요. <br>
                                      ✅ [마이페이지] ➡️ [나의 건의 내역]에서 이용하실 수 있습니다. <br>
                                  </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>